<template>
  <div>
    <page-loading v-if="pageLoading"></page-loading>
    <page-not-found v-if="pageNotFound"></page-not-found>

    <section v-else-if="pageReady" id="game" class="hero is-fullheight backgroundColor2">
      <div class="content backgroundColor">


        <game-main-menu v-if="$store.state.game.mode === 'menu'" @clicked="onClickMode" :yqs="yqs"></game-main-menu>

        <game-fake v-if="$store.state.game.mode === 'fakenews'  && fakes_all"
                   :questions="shuffleArray(fakes_all)">
        </game-fake>

        <!--
        <game-casual v-if="$store.state.game.mode === 'casual'" :questions="shuffleArray(yqs.questions_all)"
          :candidates="candidates"></game-casual>

        <game-normal v-if="$store.state.game.mode === 'normal'" :questions="shuffleArray(yqs.questions_all)"
          :candidates="candidates"></game-normal>

        <game-opinion v-if="$store.state.game.mode === 'opinion'" :questions="shuffleArray(yqs.questions_all)"
          :candidates="candidates"></game-opinion>

        <game-how-said v-if="$store.state.game.mode === 'howSaid'" :questions="shuffleArray(yqs.questions_all)"
          :candidates="candidates"></game-how-said>

        <game-prode v-if="$store.state.game.mode === 'prode'" :questions="shuffleArray(yqs.questions_all)"
          :candidates="candidates"></game-prode>
        -->
      </div>
    </section><!--/#game -->

  </div>
</template>

<script>
import { YQS, shuffleArray } from '~/assets/common'

import GameNavBar from '~/components/GameBaseNavBar'
import GameMainMenu from '~/components/GameBaseMainMenu'
import GameCasual from '~/components/GameCasual'
import GameFake from '~/components/GameFakeNuevo'
import GameNormal from '~/components/GameNormal'
import GameOpinion from '~/components/GameOpinion'
import GameHowSaid from '~/components/GameHowSaid'
import GameProde from '~/components/GameProde'

import PageLoading from '~/components/PageLoading'
import PageNotFound from '~/components/PageNotFound'

export default {
  data () {
    return {
      yqs: new YQS(),
      candidates: [],
      fakes_all: false,
      // Spinner
      pageLoading: true,
      pageReady: false,
      pageNotFound: false
    }
  },
  components: {
    GameNavBar,
    GameMainMenu,
    GameCasual,
    GameNormal,
    GameOpinion,
    GameHowSaid,
    GameProde,
    GameFake,
    PageLoading,
    PageNotFound
  },
  created () {
    this.$store.commit('game/selectMode', this.$route.params.game);
    this.create()
  },
  watch: {
    '$route.params.game': function (id) {
      //if (this.$store.state.game.mode != this.$route.params.game) {
      this.$store.commit('game/selectMode', this.$route.params.game);
      //}
      this.$forceUpdate()
    }
  },
  mounted () {
    if (this.$store.state.game.mode != this.$route.params.game) {
      this.$store.commit('game/selectMode', this.$route.params.game);
      //this.create();
    }
  },
  methods: {
    create: function () {
      let vm = this;
      this.yqs.init()
        .then(() => {
          this.yqs.getCandidatesByCountry(this.$route.params.country)
            .then(() => {
              let election = this.$route.params.election
              this.candidates = this.yqs.candidates[election]
            })

          this.yqs.getQuestionsByElection(this.$route.params.election)
            .then(() => {
              this.pageLoading = false
              this.pageReady = true
              this.pageNotFound = false

              /*
              setTimeout(() => {
                const t = `
                Los siguientes candidatos aún no respondieron. Se parte, ayúdanos a que respondan en #YoVotoInformado:<br />
                - Danilo Roca Bariles<br />
                - Fredy Cabrera<br />
                - Isaac Farchi Sultan<br />
                - Manfredo Marroquin<br />
                - Edwin Escobar<br />
                - José Luis Chea<br />
                - Thelma Cabrera<br />
                - Sandra Torres`
                this.$dialog.alert({
                  message: t
                })
              }, 500)
              */
            })
            .catch(() => {
              this.pageLoading = false
              this.pageReady = false
              this.pageNotFound = true
            })

          if (this.yqs.getElection(this.$route.params.election).games) {
            if (this.yqs.getElection(this.$route.params.election).games.includes('fakenews')) {
              this.pageLoading = true;
              this.yqs.getFakesByElection(this.$route.params.election)
                    .then(() => {
                      vm.games = true;
                      vm.fakes_all = this.yqs.fakes_all;
                      this.pageLoading = false
                      this.pageReady = true
                      this.pageNotFound = false
                    })
                    .catch(() => {
                      this.pageLoading = false
                      this.pageReady = false
                      this.pageNotFound = true
                    });
            }
          }
        })
    },
    onClickMode (mode) {
      this.mode = mode
    },
    shuffleArray: shuffleArray
  }
}
</script>

<style>
  .game-menu {
    padding-top: 3rem !important;
  }
  .game-header {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 3rem;
    margin-left: auto;
  }


</style>
<style scoped>
@media (max-width: 450px) {
  #game {
    position: fixed;
    z-index: 2;
  }
}

.content {
  z-index: 2;
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

@media (min-width: 450px) {
  .content {
    height: 90vh;
    width: 90vw;
    max-width: 550px;
    min-height: 600px;
    /*padding: 20px 20px 20px 20px;*/
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
  }
}
</style>
