<template>
  <div class="maincontainer">
    <page-loading v-if="pageLoading"></page-loading>
    <page-not-found v-if="pageNotFound"></page-not-found>

    <section v-else-if="pageReady" id="game" class="hero is-fullheight">
      <div class="content" :data-activo="$store.state.game.mode">

        <game-main-menu v-if="$store.state.game.mode === 'menu'" @clicked="onClickMode" :yqs="yqs">

        </game-main-menu>

        <game-fake-nuevo v-if="$store.state.game.mode === 'fakenews' && fakes_all" :questions="shuffleArray(yqs.fakes_all)">

        </game-fake-nuevo>

      </div>
    </section><!--/#game -->

  </div>
</template>

<script>
import { YQS, shuffleArray } from '~/assets/common'

import GameNavBar from '~/components/GameBaseNavBar'
import GameMainMenu from '~/components/GameBaseMainMenu'
import GameFakeNuevo from '~/components/GameFakeNuevo'
import PageLoading from '~/components/PageLoading'
import PageNotFound from '~/components/PageNotFound'

export default {
  layout: 'fake',
  data () {
    return {
      yqs: new YQS(),
      candidates: [],
      fakes_all: false,
      // Spinner
      pageLoading: true,
      pageReady: false,
      pageNotFound: false
    }
  },
  components: {
    GameNavBar,
    GameMainMenu,
    GameFakeNuevo,
    PageLoading,
    PageNotFound
  },
  created () {
    this.$store.commit('game/selectMode', this.$route.params.game);
    this.create()
  },
  mounted () {
    if (this.$store.state.game.mode != this.$route.params.game) {
      this.$store.commit('game/selectMode', this.$route.params.game);
      //this.create();
    }
  },
  watch: {
    '$route.params.game': function (id) {
      //if (this.$store.state.game.mode != this.$route.params.game) {
        this.$store.commit('game/selectMode', this.$route.params.game);
      //}
      this.$forceUpdate()
    }
  },
  methods: {
    create: function () {
      let vm = this;
      this.yqs.init()
        .then(() => {
          if (this.$route.params.election)
          this.yqs.getCandidatesByCountry(this.$route.params.country)
            .then(() => {
              let election = this.$route.params.election
              this.candidates = this.yqs.candidates[election]
            });

          if (this.$route.params.election)
          this.yqs.getQuestionsByElection(this.$route.params.election)
            .then(() => {
              this.pageLoading = false
              this.pageReady = true
              this.pageNotFound = false
            })
            .catch(() => {
              this.pageLoading = false
              this.pageReady = false
              this.pageNotFound = true
            });

          if (this.$route.params.election)
          if (this.yqs.getElection(this.$route.params.election).games) {
            if (this.yqs.getElection(this.$route.params.election).games.includes('fakenews')) {
              this.pageLoading = true;
              this.yqs.getFakesByElection(this.$route.params.election)
                    .then(() => {
                      vm.games = true;
                      vm.fakes_all = this.yqs.fakes_all;
                      this.pageLoading = false
                      this.pageReady = true
                      this.pageNotFound = false
                    })
                    .catch(() => {
                      this.pageLoading = false
                      this.pageReady = false
                      this.pageNotFound = true
                    });
            }
          }
        })
    },
    onClickMode (mode) {
      this.mode = mode
    },
    shuffleArray: shuffleArray
  }
}
</script>

<style scoped>

  .maincontainer {
    background-color: black;
   /* padding-top: 20vh;*/
  }

@media (max-width: 450px) {
  #game {
    /*position: fixed;*/
    z-index: 2;
  }
}

.content {
 /* z-index: 2;*/
  position: relative;
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  /*padding: 20px 20px 20px 20px;*/
}

@media (max-width: 700px) {
  .content {
    height: 90vh;
    width: 90vw;
    max-width: 90vw;
    min-height: 90vh;
    /*padding: 20px 20px 20px 20px;*/
  }
}

  @media (min-width: 700px) {
    .content {
      padding: 20px 20px 20px 20px;
    }
  }
</style>
