<template>
  <div>
    <page-loading v-if="pageLoading"></page-loading>
    <page-not-found v-if="pageNotFound"></page-not-found>

    <section v-if="pageReady">
      <b-tabs position="is-centered" type="is-toggle" class="country" v-model="tabIndex">
        <b-tab-item v-for="election in yqs.country.elections" :key="election.id"
          :election="election" :label="election.name" :class="{'candidatos': multidistrito }">

          <!-- Tab title -->
          <div class="tab-title has-text-centered">
            <img class="flag" :src="yqs.country.img" :alt="'Bandera de ' + yqs.country.country_name">
            <h2 class="title is-2" :title="election.date" >Elecciones en {{ yqs.country.country_name }} {{ electionYear(election.date) }}</h2>

          </div>
          <distritos-buttons  v-if="multidistrito" :distritos="distritos" v-model="district" class="distritos"/>
          <distritos-buttons  v-if="district" :distritos="names" v-model="candidato" class="distritos"/>
          <b-field label="Codigo" v-if="candidato && district && multidistrito" style="padding: 2em">
            <textarea style="width: 100%; min-width: 100%"><iframe height="750px" src="https://www.yovotoinformado.org/{{yqs.country.country_name}}/{{election.name}}/candidato/{{candidato}}" style="width: 100%; height: 750px; border: none; overflow: hidden;" width="100%"/></textarea>
          </b-field>
          <iframe height="750px" :src="'https://www.yovotoinformado.org/'+yqs.country.country_name+'/'+election.name+'/candidato/'+candidato" style="width: 100%; height: 750px; border: none; overflow: hidden;" width="100%"/>
        </b-tab-item>
      </b-tabs>
    </section>
  </div>
</template>

<script>
import YQS from '~/assets/common'
import PageLoading from '~/components/PageLoading'
import PageNotFound from '~/components/PageNotFound'
import _ from 'lodash'
import DistritosButtons from "../../../../components/DistritosButtons";

export default {
  data () {
    return {
      yqs: new YQS(),
      showToolTip: false,
      toolTip: '',
      toolTipRight: 0,
      pageLoading: true,
      pageReady: false,
      pageNotFound: false,
      fakes_all: false,
      tabIndex: 0,
      district: '',
      candidato: ''
    }
  },
  components: {
    DistritosButtons,
    PageLoading,
    PageNotFound
  },
  computed: {
    todos() {
      return _.groupBy(this.yqs.candidates[this.election.name], 'distrito')
    },
    names() {
      return _.map(this.candidatosdistrito, 'full_name')
    },
    candidatosdistrito() {
      if (this.yqs && this.pageReady)
      return _.filter(this.yqs.candidates[this.election.name], (vol) => vol.distrito === this.district )
    },
    election() {
      return this.yqs.country.elections[this.tabIndex]
    },
    multidistrito() {
      let retval = [];
      if (this.yqs && this.pageReady)
        retval = _.compact(_.map(this.yqs.candidates[this.election.name], 'distrito'))
      return retval.length > 1
    },
    distritos() {
      if (this.multidistrito) {
        const distritos = _.uniq(_.compact(_.map(this.yqs.candidates[this.election.name], 'distrito')))
      return distritos }
      else { return []}
    }
  },
  created () {
    this.create()
  },
  beforeRouteUpdate (to, from, next) {
    this.create();
    next()
  },
  methods: {
    create: function () {
      let vm = this;
      this.yqs.init()
        .then(() => {

          this.yqs.getCandidatesByCountry(this.$route.params.country)
            .then(() => {
              this.pageLoading = false
              this.pageReady = true
              this.pageNotFound = false
            })
            .catch(() => {
              this.pageLoading = false
              this.pageReady = false
              this.pageNotFound = true
            })
        })
    },
    electionYear: function (d) {
      return new Date(d).getFullYear()
    },
    tabSubtitle: function (d) {
      /*
        Missing day to the election
      */
      var electionDate = new Date(d)
      var oneDay = 1000 * 60 * 60 * 24

      let missingDays = 0;
      //var missingDays = Math.round((electionDate.getTime() - Date.now()) / oneDay);
      var missingDays1 = (electionDate.getTime() - Date.now()) / oneDay;
      if (missingDays1 > 0) {
        if (missingDays1 < 1)
          missingDays = 1;
        else
          missingDays = Math.round(missingDays1);
      }
      else {
        if (missingDays1 > -1) {
          missingDays = 0;
        }
        else {
          missingDays = Math.round(missingDays1);
        }
      }
      if (missingDays > 0) {
        //console.log(missingDays1);
        return 'Faltan <strong class="highlightColor">' + missingDays + '</strong> dias';
      }
      else {
        if (missingDays == 0) {
          //console.log(missingDays1);
          return 'La elecion <strong class="highlightColor"> es hoy !</strong> ';
        }
        else {
          return 'Ups! esta eleccion ya paso';
        }
      }
    },
    mouseOverImg: function (d, event) {
      // Calculate hte center of the img
      let rect = event.target.getBoundingClientRect()
      let x = rect.left - rect.width / 2
      let y = rect.top + rect.height / 2
      this.toolTipRight = rect.left - rect.width / 2

      this.toolTip = d.first_name + ' ' + d.last_name
      this.showToolTip = true
    },
    mouseLeaveImg: function (d) {
      this.showToolTip = false
    }
  }
}
</script>

<style>
  .distritos{
    background: linear-gradient(90deg, #5F31CD 0%, #DF3C75 100%);
    padding-bottom: 0%;
    /*  background-color: #ff2079;*/
  }
.country {
  padding-top: 90px;
}

/*
  Title
  =====
*/
.country .hero-body .container {
  display: block;
}

.country .hero-body .container h1,
.country .hero-body .container img {
  display: inline-block;
  vertical-align: middle;
}

.country .hero-body .container img {
  height: 50px;
  padding-right: 0px;
}

@media (min-width: 576px) {
  .country .hero-body .container img {
    padding-right: 40px;
  }
}

/*
  Tabs
  ====
*/
section.tab-content {
  padding: 0px !important;
}

.tabs.is-toggle a {
  border: 0px;
  background-color: whitesmoke;
  color: #363636;
}

.tabs.is-toggle li.is-active a,
.tabs.is-toggle a:hover {
  background-color: #FF2079;
  color: white;
}

/*
  Tabs header
*/

.tab-title {
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  background-color: #FF2079;
}

.tab-title img {
  max-width: 50px;
  display: inline-block;
  vertical-align: top;
}

.tab-title h2 {
  color: white;
  display: inline-block;
}

/*
  Tab container
*/
.tab-item div.container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.tab-item div.container .title.is-2 {
  text-transform: uppercase;
}

.missing-days {
  font-family: Chivo-Regular;
}

.missing-days strong {
  font-family: Cubano-Regular;
  font-size: 28px;
  margin-left: 10px;
  margin-right: 10px;
}

.candidatesNames {

}

.candidatesPhotos {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 50px;
  position: relative;
}

@media (min-width: 992px) {
  .candidatesPhotos {
    margin-left: 0;
  }
}

.candidatesPhotos img {
  max-width: 150px;
  max-height: 150px;
  margin-left: -40px;
  border-radius: 50%;
  transition: all .2s ease-in-out;
}

@media (min-width: 992px) {
  .candidatesPhotos img {
    max-width: 200px;
    max-height: 200px;
  }
}

.candidatesPhotos:first-child img {
  margin-left: 0px;
}

.candidatesPhotos img:hover {
  transform: scale(1.3);
}

.button-game.button-d3 {
  background-color: #8eaee6;
  box-shadow: -6px 6px 0 #ffffff;
}

.button-game.button-d3:hover {
  box-shadow: -3px 3px 0px #B08504;
}

/*
.button-game {
  margin-top: 20px;
  background-color: #FFBF00;
  color: white;
  box-shadow: 0px 5px #B08504;
  padding-left: 30px;
  padding-right: 30px;
}

.button-game[disabled] {
  background-color: #FFBF00;
  border-color: #FFBF00;
  color: white;
}
*/

.toolTipImg {
  position: absolute;
  top: 0;
  width: 200px;
  height: 70px;
  z-index: 10;
  margin-top: 10px;
  background-color: #ff2079;
}

.candidatos{
  background: linear-gradient(0deg, #5F31CD 0%, #DF3C75 100%);
  color: white
;
}
  </style>
