<template>
  <div>
    <page-loading v-if="pageLoading"></page-loading>
    <page-not-found v-if="pageNotFound"></page-not-found>

    <div class="container" id="candidate1" style="max-width: none;" v-else-if="pageReady">
      <!--   <section id="descripcion" v-if="!vicecandidate">
           <div class="columns">
             <div class="column is-6 candidate-photo">
               <figure class="image" v-if="!candidate.photo_link">
                 <img :src="candidate.photo" :alt="'Foto del candidato ' + candidate.full_name" />
               </figure>
               <figure class="image" v-if="candidate.photo_link">
                 <img :src="candidate.photo_link" :alt="'Foto del candidato ' + candidate.full_name" />
               </figure>
             </div>

             <div class="column is-6">
               <h1 class="title is-1">{{ this.candidate.first_name }} {{this.candidate.last_name}}</h1>

               <p class="description">Nacimiento: {{ this.candidate.birthday }}</p>
               <p class="description">Partido: {{ this.candidate.politic_party}}</p>
               <p class="description" v-if="candidate.answers_pdf">
                 <a :href="candidate.answers_pdf" target="_blank">Descargar respuestas del candidato</a>
               </p>
               <p class="long-text">{{ this.candidate.biography }}</p>

               <div class="d" v-if="candidate.answer_excel">
                 <button class="button-d3">
                   <a :href="candidate.answer_excel" target="_blank">Descargar respuestas</a>
                 </button>
               </div>
             </div>
           </div>
         </section>-->

      <section class="section bio sectiontop" v-if="!vicecandidate">


        <div class="container has-text-centered foto-candidato is-centered" style="max-width: none !important;" v-if="candidate.photo_link">
          <figure class="image is-200x200 is-inline-block">
            <img :src="candidate.photo_link"
                 class="is-rounded is-inline-block foto-redonda">
          </figure>
        </div>
        <div class="container">
          <!-- START ARTICLE FEED -->
          <section class="articles">
            <div class="column is-8 is-offset-2">
              <!-- START ARTICLE -->
              <div class="card article" style="background-color: inherit; border-radius: 1em">
                <div class="card-content fondo-violeta" style="border-radius: 1em">
                  <div class="media">
                    <div class="media-content has-text-centered">
                      <p class="title nombre">{{ this.candidate.first_name }} {{ this.candidate.last_name}}</p>
                      <div class="tags has-addons level-item are-medium textos-bio">
                        <!-- <span class="tag is-rounded is-warning " v-if="this.candidate.birthday">NACIMIENTO: {{ this.candidate.birthday }}</span> -->
                        <!--<span class="tag is-rounded is-warning " v-if="this.candidate.birthday">EDAD: {{ new Date(new Date() - Date.parse(this.candidate.birthday)).getFullYear() - 1970 }} años</span> -->
                        <span class="tag is-rounded"  v-if="this.candidate.birthday">EDAD: {{ new Date(new Date() - this.birthsday).getFullYear() - 1970 }} años</span>
                        <span class="tag is-rounded" v-if="this.candidate.politic_party">PARTIDO: {{ this.candidate.politic_party }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="content textos-bio">
                    <p
                      style="white-space: pre-line;">
                      {{candidate.biography}}
                    </p>
                  </div>
                  <div class="content textos-bio" style="border-top-width: 1px; border-top-style: solid; border-top-color: white" v-if="candidate.propuestas">
                    <div class="title is-5" style="padding-top: 1em; margin-bottom: unset">Principales Propuestas</div>
                    <p
                      style="white-space: pre-line;">
                      {{candidate.propuestas}}
                    </p>
                  </div>
                  <div class="has-text-centered  are-medium">
                    <a :href="candidate.facebook"> <span class="icon has-text-light " v-if="candidate.facebook">
                                    <fa :icon="faFacebookSquare" class="fa-lg"/>
                                    <i class="fab fa-facebook-square fa-lg"></i>
                                </span></a>
                    <a :href="candidate.twitter"><span class="icon has-text-light" v-if="candidate.twitter">
                                    <fa :icon="faTwitterSquare" class="fa-lg"/>
                                    <i class="fab fa-twitter-square fa-lg"></i>
                                </span></a>
                    <a :href="candidate.instagram">
                    <span class="icon has-text-light" v-if="candidate.instagram">
                                     <fa :icon="faInstagram" class="fa-lg"/>
                                    <i class="fab fa-instagram-square fa-lg"></i>
                                </span></a>
                    <a :href="candidate.web_site"><span class="icon has-text-light" v-if="candidate.web_site">
                                 <fa :icon="faGlobe" class="fa-lg"/>
                                    <i class="fas fa-globe fa-lg"></i>
                                </span></a>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <div class="columns d">
            <div class="column">
              <nuxt-link v-if="this.candidate.distrito && this.election && this.candidate.distrito !== ''"
                         :to="{ name: 'country___es',
              params: {'country': this.country,
              'election': this.election,
              'distrito': this.candidate.distrito
              } }"
                         class="button-d31 is-pulled-right"
              >
                Volver
              </nuxt-link>
              <nuxt-link v-else-if="this.country"
                         :to="localePath({ name: 'country',
              params: {'country': this.country } })"
                         class="button-d31 is-pulled-right"
              >
                Volver
              </nuxt-link>
            </div>
            <div class="column" >
              <div class="d1">
                <button class="button-d3 is-pulled-left" @click="downloadCSVData"> Descargar Respuestas
                  <!-- <a :href="candidate.answer_excel" target="_blank">Descargar respuestas</a> -->
                </button>
              </div>
            </div>
          </div>


        </div>

      </section>

      <section id="descripcion" v-if="vicecandidate">
        <div class="columns">
          <div class="column is-16 candidate-photo">
            <figure class="image">
              <img :alt="'Foto del candidato ' + candidate.full_name" :src="candidate.photo"/>
            </figure>
          </div>
        </div>
        <div class="columns">
          <div class="column is-6">
            <h1 class="title is-1">{{ this.candidate.first_name }} {{this.candidate.last_name}}</h1>

            <p class="description">Nacimiento: {{ this.candidate.birthday }}</p>
            <p class="description">Frente: {{ this.candidate.politic_party}}</p>
            <p class="description" v-if="candidate.answers_pdf">
              <a :href="candidate.answers_pdf" target="_blank">Descargar respuestas del candidato</a>
            </p>
            <p class="long-text">{{ this.candidate.biography }}</p>

            <a :href="'https://twitter.com/'+candidate.twitter+'?lang=es'" class="button social-icon twitter">
              <fa :icon="['fab', 'twitter']"/>
            </a>
            <a :href="'https://www.facebook.com/'+candidate.facebook" class="button social-icon facebook">
              <fa :icon="['fab', 'facebook-f']"/>
            </a>
            <a :href="'https://www.instagram.com/'+candidate.instagram" class="button social-icon instagram">
              <fa :icon="['fab', 'instagram']"/>
            </a>
            <a :href="candidate.web_site" class="button social-icon facebook">
              <fa :icon="['fa', 'link']"/>
            </a>

            <div class="d">
              <button class="button-d3" @click="downloadCSVData">
                <!-- <a :href="candidate.answer_excel" target="_blank">Descargar respuestas</a> -->
              </button>
            </div>
          </div>
          <div class="column is-6">
            <h1 class="title is-1">{{ vicecandidate.first_name }} {{vicecandidate.last_name}}</h1>

            <p class="description">Nacimiento: {{ vicecandidate.birthday }}</p>
            <p class="description">Frente: {{ vicecandidate.politic_party}}</p>
            <p class="description" v-if="vicecandidate.answers_pdf">
              <a :href="candidate.answers_pdf" target="_blank">Descargar respuestas del candidato</a>
            </p>
            <p class="long-text">{{ vicecandidate.biography }}</p>

            <a :href="'https://twitter.com/'+vicecandidate.twitter+'?lang=es'" class="button social-icon twitter">
              <fa :icon="['fab', 'twitter']"/>
            </a>
            <a :href="'https://www.facebook.com/'+vicecandidate.facebook" class="button social-icon facebook">
              <fa :icon="['fab', 'facebook-f']"/>
            </a>
            <a :href="'https://www.instagram.com/'+vicecandidate.instagram" class="button social-icon instagram">
              <fa :icon="['fab', 'instagram']"/>
            </a>
            <a :href="vicecandidate.web_site" class="button social-icon facebook">
              <fa :icon="['fa', 'link']"/>
            </a>

            <div class="d" v-if="vicecandidate.answer_excel ">
              <button class="button-d3">
                <a :href="candidate.answer_excel" target="_blank">Descargar respuestas</a>
              </button>
            </div>
          </div>
        </div><!--/columns -->
        <div class="columns">
          <div class="column">
            <div class="d">
              <button class="button-d3">
                <a
                  href="https://docs.google.com/spreadsheets/d/1dDKJnsIZuilxtxr74hczOL3fiGV60gmFHOd4J-2rCYM/export?format=csv"
                  target="_blank">Descargar respuestas</a>
              </button>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="container" id="candidate" v-if="pageReady">
      <div v-if="!fakes_all && yqs && pageReady">
        <candidate-comparation :graph="similar"></candidate-comparation>
        <!--    <candidate-correlation-matrix :yqs="yqs"></candidate-correlation-matrix> -->
      </div>
      <div v-if="fakes_all">
        <section id="comparacion"></section>
        <section id="respuestas"></section>
      </div>


      <!-- Plot tool tip -->
      <div class="hidden" id="tooltip">
        <p id="value"></p>
      </div>


    </div>

  </div>
</template>

<script>
  import {faFacebookSquare, faTwitterSquare, faInstagram} from '@fortawesome/fontawesome-free-brands'
  import {faGlobe} from '@fortawesome/free-solid-svg-icons'
  import moment from 'moment'
  import YQS from '~/assets/common'
  import _ from 'lodash'
  import CandidateComparation from '~/components/CandidateComparation'
  import CandidateCorrelationMatrix from '~/components/CandidateCorrelationMatrix'
  import PageLoading from '~/components/PageLoading'
  import PageNotFound from '~/components/PageNotFound'
  export default {
    data() {
      return {
        yqs: new YQS(),
        candidate: null,
        vicecandidate: null,
        similar: [],
        fakes_all: false,
        // Page state
        pageLoading: true,
        pageReady: false,
        pageNotFound: false
      }
    },
    components: {
      CandidateComparation,
      CandidateCorrelationMatrix,
      PageLoading,
      PageNotFound
    },
    computed: {
      election() {
        return this.$route.params.election
      },
      country() {
        return this.$route.params.country
      },
      birthsday() {
        return moment(this.candidate.birthday, "DD/MM/YYYY");
      },
      candidatos() {
        let retcandidatos = []
        if (this.yqs.candidates[this.election]) {
          for (let i = 0; i < this.yqs.candidates[this.election].length; i++) {
              if (this.yqs.candidates[this.election][i].distrito === this.candidate.distrito) {
             //   console.log(this.yqs.candidates[this.$route.params.election][i].distrito, this.candidate.distrito)
                retcandidatos.push(this.yqs.candidates[this.election][i])
              }
          }
        }
        else {
          retcandidatos = this.yqs.candidates[this.election]
        }
        return retcandidatos
      },
      plesidentes: function () {
        return this.yqs.candidates[this.election];
      },
      plesidentes_old: function () {
        let candidatos = this.yqs.candidates[this.election];
        let retval = [];
        for (let i = 0; i < candidatos.length; i++) {
          if (!candidatos[i].Candidato || candidatos[i].Candidato == 'presidente' || candidatos[i].Candidato == 'Presidente')
            retval.push(candidatos[i]);
        }
        return retval;
      },
      faFacebookSquare() {
        return faFacebookSquare
      },
      faTwitterSquare() {
        return faTwitterSquare
      },
      faInstagram() {
        return faInstagram
      },
      faGlobe() {
        return faGlobe
      },
      multidistrito() {
        let retval = [];
      //  if (this.yqs && this.pageReady)
          retval = _.compact(_.map(this.yqs.candidates[this.election], 'distrito'))
      //  console.log(retval)
        return retval.length > 1
      },
    },
    created() {
      this.create();
    },
    beforeRouteUpdate(to, from, next) {
     this.create()
    },
    methods: {
      create: function () {
        let vm = this;
        this.yqs.init()
          .then(() => {
            this.yqs.getCandidatesByCountry(this.$route.params.country)
              .then(() => {

                /*
                if (this.yqs.getElection(this.election).games) {
                  if (this.yqs.getElection(this.election).games.includes('fakenews')) {
                    this.pageLoading = true;
                    this.yqs.getFakesByElection(this.election)
                      .then(() => {
                        vm.games = true;
                        vm.fakes_all = this.yqs.fakes_all ? this.yqs.fakes_all : false;
                        this.pageLoading = false;
                        this.pageReady = true;
                        this.pageNotFound = false;
                      })
                      .catch(() => {
                        this.pageLoading = false
                        this.pageReady = false
                        this.pageNotFound = true
                      });
                  }
                }
                */
                this.yqs.getQuestionsByElection(this.election)

                  .catch(() => {
                    this.pageLoading = false
                    this.pageReady = false
                    this.pageNotFound = true
                  })
              }).then((p) => {
                console.log(p)
              this.filterCandidate();
                console.log(this.candidate.full_name)
              this.filterViceCandidate();
            //  console.log(this.candidatos)
            //  console.log(this.yqs.candidates)
             // console.log('Hay candidatos ?')
              this.calculateDistance();

            })                  .then(() => {
              this.pageLoading = false
              this.pageReady = true
              this.pageNotFound = false
            })
              .catch((e) => {
            //    console.log(this.candidatos)
             //   console.log(this.election)
            //    console.log(this.yqs.candidates[this.election])
               console.log(e)
                this.pageLoading = false
                this.pageReady = false
                this.pageNotFound = true
              })
          })
      },
      filterCandidate: function () {
        // Filter by candidate full name

        for (let i = 0; i < this.yqs.candidates[this.election].length; i++) {
          if (this.yqs.candidates[this.election][i].full_name === this.$route.params.name) {
            this.candidate = this.yqs.candidates[this.election][i]
          }
        }
      },
      filterViceCandidate: function () {
        // Filter by candidate full name
        let election = this.$route.params.election;

        for (let i = 0; i < this.yqs.candidates[election].length; i++) {
          if (this.yqs.candidates[election][i].politic_party === this.candidate.politic_party) {
            if (this.yqs.candidates[election][i].Candidato == 'vicepresidente')
              this.vicecandidate = this.yqs.candidates[election][i]
          }
        }
      },
      calculateDistance: function () {
      //  if (this.yqs && this.pageReady) {
          // let election = this.$route.params.election
        console.log(this.election)
        console.log(this.yqs.candidates)
        console.log(this.election)
        console.log(this.yqs.candidates[this.election])
        console.log(this.candidate.distrito)
        console.log(this.candidatos)
        let tempcandidatos = this.yqs.candidates[this.election]
        if (this.candidate.distrito)
          tempcandidatos = _.filter(tempcandidatos, (d) => d.distrito == this.candidate.distrito )
          // Calculate the similarity to each other candidate
          // for (let i = 0; i < this.candidatos.length; i++) {
        for (let i = 0; i < tempcandidatos.length; i++) {
            if (tempcandidatos[i].full_name !== this.candidate.full_name )
            if (!tempcandidatos[i].Candidato || tempcandidatos[i].Candidato == 'presidente') {
              // console.log(this.yqs.candidates[election][i]);
              let r = []

              for (let j = 0; j < this.candidate.sort_answer.length; j++) {
                let a = this.candidate.sort_answer[j]
                let b = tempcandidatos[i].sort_answer[j]

                if ([0, 1].includes(a) && [0, 1].includes(b)) {
                  r.push(1)
                } else if ([2, 3].includes(a) && [2, 3].includes(b)) {
                  r.push(1)
                } else {
                  r.push(0)
                }
              }

              let similarity = r.reduce((a, b) => a + b, 0) / r.length * 100
              this.similar.push({
                similarity: similarity,
                name: tempcandidatos[i].full_name,
                photo: tempcandidatos[i].photo
              })
            }
          }

          // sort
          this.similar.sort((a, b) => a.similarity < b.similarity)
     //   }
      },
      downloadCSVData() {
        let csv = 'Pregunta,Respuesta,fuente\n';
        for (let [i, val] of Object.entries(this.yqs.questions)) {
          console.log(i,this.candidate.sources[i])
          csv += this.yqs.questions[i].question + ',"' + this.candidate.long_answer[this.yqs.questions[i].pindex] + '","' + (this.candidate.sources[this.yqs.questions[i].pindex] ? this.candidate.sources[this.yqs.questions[i].pindex] : ""  )+ '"'
          csv += "\n";
        }
      //  this.yqs.questions.forEach((row,index) => {
      //    csv += row.question + ',' + this.candidate.long_answer[index]
      //    csv += "\n";
      //  });

        const anchor = document.createElement('a');
        anchor.href = 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv);
        anchor.target = '_blank';
        anchor.download = this.candidate.full_name + '.csv';
        anchor.click();
      }
    }
  }
</script>

<style scoped>
  .tags.has-addons .tag:not(:first-child) {
    border-left-style: hidden;
  }
  .tags.has-addons .tag:not(:last-child) {
    border-right-style: hidden;
  }
  .tag {
    background: inherit;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 1.5px;
  }
.sectiontop {
  padding-top: 100px;
}

#candidate {
  padding-top: 0px;
}

.candidate-photo {
  margin-top: auto;
  margin-bottom: auto;
}

.candidate-photo img {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.description {
  border-bottom: 1px solid rgba(142, 146, 167, 1);
  padding: 4px;
}

.long-text {
  padding-top: 20px;
  font-family: Chivo-Regular;
  white-space: pre-wrap;
}

.d {
  padding-top: 30px;
  text-align: center;
}

.d button {
  font-family: Cubano-Regular;
}

#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  font-family: Chivo-Regular;
  margin: 0;
  color: black;
  font-size: 15px;
  line-height: 20px;
}

#tooltip p strong {
  font-family: Chivo-Bold;
}
h1 {
  font-family: 'Chivo', sans-serif;
  font-weight: bolder;
  font-size: 2rem;
  color: white;
  text-align: center;
}

h2{
  font-family: 'Cubano', sans-serif;
  color: white;
  font-size: 2.2rem;
  text-align: center;
}

.zocalo{
  background-color: #3ac4c7;
  color: white;
  height: 80px;

}


/*seccion de botones*/
.distritos{
  background: linear-gradient(90deg, #5F31CD 0%, #DF3C75 100%);
  padding-bottom: 0%;
  /*  background-color: #ff2079;*/
}


.distrito{
  font-family: 'Chivo', sans-serif;
  font-weight: 700;
  color: #DF3C75;
  border-color:#FCC801;
}

.distrito:hover{
  color: white;
  background-color: #DF3C75;
  border-color:#FCC801;
}
.distrito:active{
  color: white;
  background-color: #DF3C75;
  border-color: #08efff;
  border-color:#FCC801;
}
.distrito:focus{
  color: white;
  background-color: #DF3C75;
  border-color: #1acaff;
}
.candidatos{
  background: linear-gradient(0deg, #5F31CD 0%, #DF3C75 100%);
  color: white
;
}


/*seccion de "DESCUBRE"*/
.descubre{
  background-image: url(~imgs/emojis.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  text-align: center;
  padding-top: 5%;
}

.boton-descubre{
  color:#671D6B;
  font-family: 'Chivo', sans-serif;
  background-color: #FCC801 ;
  font-weight: 700;
  border-color:#FCC801;

}

.boton-descubre:hover{
  box-shadow:  0 3px 10px rgb(103 29 107 / 0.8);
  background-color: #DF3C75;
  color: white;
  border-color:#FCC801;
}
.boton-descubre:active{
  box-shadow:  0 3px 10px rgb(103 29 107 / 0.8);
  border-color:#FCC801;
}

/*sección cards feed candidatos*/

.candidato-card{
  font-family: 'Chivo', sans-serif;
  color: #5F31CD;
}



.boton-bio{
  font-family: 'Chivo', sans-serif;
  font-weight: 700;
  color: #DF3C75;
  text-align: right;
  border-color:#DF3C75 ;
}

.boton-bio:hover{
  color: white;
  background-color: #DF3C75;
}

.boton-bio:focus{
  color: white;
  background-color: #DF3C75;
  border-color: #1acaff;
}

.boton-right{
  text-align: right;
}

/* page bio de candidato*/

.bio{
  background: linear-gradient(180deg, #FF2079 0%, #5F31CD 100%);
}


.foto-candidato{
  width: 200px;
  min-height: 100%;
  max-height: 200px;

}

.foto-redonda{
  border-color: #fec900;
  border-style:solid;
  border-width:thick;
  border-radius: 50%;

}

.nombre{
  font-family: 'Cubano',sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color:white;
}

.fondo-violeta{
  background-color: #4d134e;
}

.textos-bio{
  font-family: 'Chivo', sans-serif;
  font-size: 16px;
  color: white;
}

  .button-d31 {
    top: 0px;
    left: 0px;
    position: relative;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
    background-color: #fdb53d;
    box-shadow: -6px 6px 0px #B2235C;
  }

  .button-d31:hover {
    box-shadow: -3px 3px 0px #B2235C;
    top: 3px;
    left: -3px;
  }
</style>
