<template>
  <div>
    <page-loading v-if="pageLoading"></page-loading>
    <page-not-found v-if="pageNotFound"></page-not-found>

    <section v-else-if="pageReady" id="game" class="hero is-fullheight backgroundColor2">
      <div class="content backgroundColor">
        <game-nav-bar></game-nav-bar>

        <game-main-menu v-if="$store.state.game.mode === 'menu'" @clicked="onClickMode" :yqs="yqs"></game-main-menu>

        <game-fake v-if="$store.state.game.mode === 'fakenews'" :questions="shuffleArray(yqs.fakes_all)"></game-fake>

        <game-casual v-if="$store.state.game.mode === 'casual'" :questions="shuffleArray(enabledQuestions)"
          :candidates="plesidentes" :allquestions="yqs.questions_all"></game-casual>

        <game-normal v-if="$store.state.game.mode === 'normal'" :questions="shuffleArray(enabledQuestions)"
          :candidates="plesidentes"></game-normal>

        <game-opinion v-if="$store.state.game.mode === 'opinion'" :questions="enabledQuestions"
          :candidates="plesidentes"></game-opinion>

        <game-how-said v-if="$store.state.game.mode === 'howSaid'" :questions="shuffleArray(enabledQuestions)"
          :candidates="plesidentes"></game-how-said>
        <!--
        <game-prode v-if="$store.state.game.mode === 'prode'" :questions="shuffleArray(yqs.questions_all)"
          :candidates="candidates"></game-prode>
          -->
      </div>
    </section><!--/#game -->

  </div>
</template>

<script>
import { YQS, shuffleArray } from '~/assets/common'

import GameNavBar from '~/components/GameBaseNavBar'
import GameMainMenu from '~/components/GameBaseMainMenu'
import GameCasual from '~/components/GameCasual'
import GameFake from '~/components/GameFake'
import GameNormal from '~/components/GameNormal'
import GameOpinion from '~/components/GameOpinion'
import GameHowSaid from '~/components/GameHowSaid'
import GameProde from '~/components/GameProde'

import PageLoading from '~/components/PageLoading'
import PageNotFound from '~/components/PageNotFound'

export default {
  data () {
    return {
      yqs: new YQS(),
      candidates: [],

      // Spinner
      pageLoading: true,
      pageReady: false,
      pageNotFound: false
    }
  },
  components: {
    GameNavBar,
    GameMainMenu,
    GameCasual,
    GameNormal,
    GameOpinion,
    GameHowSaid,
    GameProde,
    GameFake,
    PageLoading,
    PageNotFound
  },
  created () {
    this.$store.commit('game/selectMode', 'menu');
    this.create()
  },
  computed: {
    plesidentes: function () {
      let candidatos = this.candidates;
      let retval = [];
      for (let i = 0; i < candidatos.length; i++) {
        if (!candidatos[i].Candidato || candidatos[i].Candidato == 'presidente' || candidatos[i].Candidato == 'Presidente')
          retval.push(candidatos[i]);
      }
      return retval;
    },
    enabledQuestions: function () {
      let retval = [];
      for (let qi = 0; qi < this.yqs.questions_all.length; qi++){
        if (this.yqs.questionIndexes.includes(parseInt(this.yqs.questions_all[qi].pindex))) {
          retval.push(this.yqs.questions_all[qi]);
        }
        else {
          if (this.yqs.questionIndexes.includes(''+this.yqs.questions_all[qi].pindex)) {
            retval.push(this.yqs.questions_all[qi]);
          }
          else {
           // console.log(' No esta '+this.yqs.questions_all[qi].pindex+ ' en '+this.yqs.questionIndexes);
          }
        }
      }
      //console.log(retval);
      return retval;
    }
  },
  methods: {
    create: function () {
      let vm = this;
      this.yqs.init()
        .then(() => {
          this.yqs.getCandidatesByCountry(this.$route.params.country)
            .then(() => {
              let election = this.$route.params.election
              this.candidates = this.yqs.candidates[election]
            })

          this.yqs.getQuestionsByElection(this.$route.params.election)
            .then(() => {
              this.pageLoading = false
              this.pageReady = true
              this.pageNotFound = false

              /*
              setTimeout(() => {
                const t = `
                Los siguientes candidatos aún no respondieron. Se parte, ayúdanos a que respondan en #YoVotoInformado:<br />
                - Danilo Roca Bariles<br />
                - Fredy Cabrera<br />
                - Isaac Farchi Sultan<br />
                - Manfredo Marroquin<br />
                - Edwin Escobar<br />
                - José Luis Chea<br />
                - Thelma Cabrera<br />
                - Sandra Torres`
                this.$dialog.alert({
                  message: t
                })
              }, 500)
              */
            })
            .catch(() => {
              this.pageLoading = false
              this.pageReady = false
              this.pageNotFound = true
            })

          if (this.yqs.getElection(this.$route.params.election).games) {
            if (this.yqs.getElection(this.$route.params.election).games.includes('fakenews')) {
              this.pageLoading = true;
              this.yqs.getFakesByElection(this.$route.params.election)
                    .then(() => {
                      vm.games = true
                      this.pageLoading = false
                      this.pageReady = true
                      this.pageNotFound = false
                    })
                    .catch(() => {
                      this.pageLoading = false
                      this.pageReady = false
                      this.pageNotFound = true
                    });
            }
          }
        })
    },
    onClickMode (mode) {
      this.mode = mode
    },
    shuffleArray: shuffleArray
  }
}
</script>

<style scoped>
@media (max-width: 450px) {
  #game {
    position: fixed;
    z-index: 2;
  }
}

.content {
  z-index: 2;
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

@media (min-width: 450px) {
  .content {
    height: 90vh;
    width: 90vw;
    max-width: 550px;
    min-height: 600px;
    /*padding: 20px 20px 20px 20px;*/
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
  }
}
</style>
