<template>
  <section id="propuestas">
    <div class="container" v-if="$store.state.main.election">
      <h2 class="title is-1 has-text-centered" style="padding-bottom: 10vh">Las Propuestas</h2>
      <div class="columns is-multiline">
        <div class="column is-one-third is-mobile" :key="index" v-for="(propuesta, index) in $store.state.main.propuestas" >
          <div class="card propuestacard">
            <div class="card-header has-text-centered">
              <div class="card-header-title has-text-centered">{{propuesta.Nombre}}</div>
            </div>
            <div class="card-content" style="height: 25vh; display: inline-table">
              <div class="content">
                <p style="white-space: pre-line">{{propuesta.Intro}}</p>
              </div>
            </div>
          </div>
          <div class="has-text-centered" style="display: block; max-width: 100%;padding-top: 5vh">
            <nuxt-link class="button is-danger" style="padding: auto" :to="urlpropuestas+index">LEER MAS</nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
  import YQS from '~/assets/common'
  import PageLoading from '~/components/PageLoading'
  import PageNotFound from '~/components/PageNotFound'

  export default {
  data () {
    return {
      yqs: new YQS(),
      showToolTip: false,
      toolTip: '',
      toolTipRight: 0,
      pageLoading: true,
      pageReady: false,
      pageNotFound: false,
      fakes_all: false
    }
  },
  components: {
    PageLoading,
    PageNotFound
  },
  created () {
    this.create()
  },
  computed: {
      urlpropuestas: function () {
        if (this.$store.state.main)
        return '/'+this.$store.state.main.country.country_name+'/'+this.$store.state.main.election.name+'/Propuestas/';
      }
  },
  beforeRouteUpdate (to, from, next) {
    this.create();
    next()
  },
  methods: {
    create: function () {
      let vm = this;
      this.yqs.init(vm.$store)
          .then(() => {

            this.yqs.getPropuestasByCountry(this.$route.params.country, this.$route.params.election)
                .then((lala) => {
                  console.log(lala);
                  this.pageLoading = false;
                  this.pageReady = true;
                  this.pageNotFound = false;
                  Vue.forceUpdate();
                })
                .catch(() => {
                  this.pageLoading = false
                  this.pageReady = false
                  this.pageNotFound = true
                })
          })
    },
    electionYear: function (d) {
      return new Date(d).getFullYear()
    },
    tabSubtitle: function (d) {
      /*
        Missing day to the election
      */
      var electionDate = new Date(d)
      var oneDay = 1000 * 60 * 60 * 24

      let missingDays = 0;
      //var missingDays = Math.round((electionDate.getTime() - Date.now()) / oneDay);
      var missingDays1 = (electionDate.getTime() - Date.now()) / oneDay;
      if (missingDays1 > 0) {
        if (missingDays1 < 1)
          missingDays = 1;
        else
          missingDays = Math.round(missingDays1);
      }
      else {
        if (missingDays1 > -1) {
          missingDays = 0;
        }
        else {
          missingDays = Math.round(missingDays1);
        }
      }
      if (missingDays > 0) {
        //console.log(missingDays1);
        return 'Faltan <strong class="highlightColor">' + missingDays + '</strong> dias';
      }
      else {
        if (missingDays == 0) {
          //console.log(missingDays1);
          return 'La elecion <strong class="highlightColor"> es hoy !</strong> ';
        }
        else {
          return 'Ups! esta eleccion ya paso';
        }
      }
    },
    mouseOverImg: function (d, event) {
      // Calculate hte center of the img
      let rect = event.target.getBoundingClientRect()
      let x = rect.left - rect.width / 2
      let y = rect.top + rect.height / 2
      this.toolTipRight = rect.left - rect.width / 2

      this.toolTip = d.first_name + ' ' + d.last_name
      this.showToolTip = true
    },
    mouseLeaveImg: function (d) {
      this.showToolTip = false
    }
  }
}

</script>

<style scoped>
#propuestas {
  padding-top: 130px;
  padding-bottom: 100px;
}

#propuestas h1 {
  padding-bottom: 50px;
}

#alliances {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #4EE3F3;
}

img {
  border-radius: 25px;
  display: inline;
  width: 250px;
  /*padding-top: 50px;*/
}

  .card {
    background-color: transparent;
    border-width: thick;
    border-color: white;
    border-style: solid;
  }

  .card-header {
    background-color: white;
    color: #363636;
  }

  .card-header-title {
    color: #363636;
  }

  .card-content .content {
    text-decoration-color: white;
    color: white;
  }

  .propuestacard {
    min-width: 100%;
    max-width: 100%;
  }
</style>
