<template>
  <footer id="footer">
    <div class="container is-fluid">
      <div class="columns is-mobile">

        <div class="column is-2 is-hidden-mobile">
          <nuxt-link to="/" class="navbar-item">
            <img :src="'/logo-yqs-small-' + $i18n.locale + '.png'" alt="Logo yo voto informado">
          </nuxt-link>
        </div>

        <div class="column is-12-mobile is-7-tablet has-text-centered">
          <p v-html="$t('base.footer')"></p>
        </div>

        <div class="column is-3 is-hidden-mobile has-text-right">
          <a class="button social-icon twitter" href="https://twitter.com/Yovotoinfo">
            <fa :icon="['fab', 'twitter']" />
          </a>
          <a class="button social-icon facebook" href="https://www.facebook.com/Yo-voto-informado-339090110047797/?ref=search&__tn__=%2Cd%2CP-R&eid=ARBbBlvZFh1ssIK6IrcWGb-wIHy2tyddl7xAdAagNdkqDsOdioEC2FgArb6ZvslTOk1Myy_RfMtQN81v">
            <fa :icon="['fab', 'facebook-f']" />
          </a>
          <a class="button social-icon instagram" href="https://www.instagram.com/yovotoinformado/">
            <fa :icon="['fab', 'instagram']" />
          </a>

          <!-- Change lang -->
          <base-button-lang></base-button-lang>
        </div>
      </div><!--/columns -->

      <div class="columns is-hidden-tablet ">
        <div class="column has-text-centered">
          <a class="button social-icon twitter" href="https://twitter.com/Yovotoinfo">
            <fa :icon="['fab', 'twitter']" />
          </a>
          <a class="button social-icon facebook" href="https://www.facebook.com/Yo-voto-informado-339090110047797/?ref=search&__tn__=%2Cd%2CP-R&eid=ARBbBlvZFh1ssIK6IrcWGb-wIHy2tyddl7xAdAagNdkqDsOdioEC2FgArb6ZvslTOk1Myy_RfMtQN81v">
            <fa :icon="['fab', 'facebook-f']" />
          </a>
          <a class="button social-icon instagram" href="https://www.instagram.com/yovotoinformado/">
            <fa :icon="['fab', 'instagram']" />
          </a>

          <!-- Change lang -->
          <base-button-lang></base-button-lang>
        </div>
      </div>

    </div><!--/container -->
  </footer>
</template>

<script>
import BaseButtonLang from '~/components/BaseButtonLang'

export default {
  components: {
    BaseButtonLang
  }
}
</script>

<style scoped>
#footer {
  padding-top: 50px;
}

#footer .container .columns {
  margin-bottom: 0;
}

img {
  float: left;
  max-height: 3rem;
}

a.navbar-item.is-active {
  background-color: transparent;
}

.button.social-icon {
  margin-left: 5px;
  border: 0px;
}

a:hover {
  color: white;
}
</style>
