<template>
  <div v-if="show" id="mainNavBar">
    <!-- Hero head: will stick at the top -->
    <header class="navbar">
      <div class="container is-fluid">

        <div class="navbar-brand">
          <nuxt-link :to="localePath('index')" class="navbar-item">
            <img :src="'/logo-yqs-small-es.png'" alt="Logo yo voto informado">
          </nuxt-link>

        </div><!--/navbar-brand -->

        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <nuxt-link :to="localePath('index')" class="navbar-item">
              {{ $t("navBar.home") }}
            </nuxt-link>
            <nuxt-link :to="localePath('we')" class="navbar-item">
              {{ $t("navBar.we") }}
            </nuxt-link>
            <nuxt-link :to="localePath('methodology')" class="navbar-item">
              {{ $t("navBar.methodology") }}
            </nuxt-link>
            <nuxt-link :to="localePath('prensa')" class="navbar-item">
              {{ $t("navBar.prensa") }}
            </nuxt-link>

            <!-- Share buttons -->
            <a class="button social-icon twitter" href="https://twitter.com/Yovotoinfo">
            <fa :icon="['fab', 'twitter']" />
          </a>
            <a class="button social-icon facebook" href="https://www.facebook.com/Yo-voto-informado-339090110047797/?ref=search&__tn__=%2Cd%2CP-R&eid=ARBbBlvZFh1ssIK6IrcWGb-wIHy2tyddl7xAdAagNdkqDsOdioEC2FgArb6ZvslTOk1Myy_RfMtQN81v">
              <fa :icon="['fab', 'facebook-f']" />
            </a>
            <a class="button social-icon instagram" href="https://www.instagram.com/yovotoinformado/">
              <fa :icon="['fab', 'instagram']" />
            </a>
            <!--<a class="button social-icon gitlab">
              <fa :icon="['fab', 'gitlab']" />
            </a>-->

            <!-- Change lang -->
            <base-button-lang></base-button-lang>

          </div><!--/navbar-end -->
        </div><!--/#navbarMenuHeroC -->

      </div><!--/container -->
    </header>

    <!-- NavBar on small devices -->
    <div>
      <span class="navbar-burger burger" data-target="navbarMenuHeroC" v-on:click="openClose">
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
      </span>

      <div class="navSmall">
        <div class="navSmall-content">
          <ul class="navSmall-list">
            <li class="navSmall-list-item" v-on:click="openClose">
              <nuxt-link :to="localePath('index')" class="">
                {{ $t("navBar.home") }}
              </nuxt-link>
            </li>
            <li class="navSmall-list-item" v-on:click="openClose">
              <nuxt-link :to="localePath('we')" class="">
                {{ $t("navBar.we") }}
              </nuxt-link>
            </li>
            <li class="navSmall-list-item" v-on:click="openClose">
              <nuxt-link :to="localePath('methodology')" class="">
                {{ $t("navBar.methodology") }}
              </nuxt-link>
            </li>
            <li class="navSmall-list-item" v-on:click="openClose">
              <nuxt-link :to="localePath('prensa')" class="">
                {{ $t("navBar.prensa") }}
              </nuxt-link>
            </li>
          </ul>
        </div><!--/navSmall-content -->
      </div><!--/navSmall -->

    </div>
  </div>
</template>

<script>
import BaseButtonLang from '~/components/BaseButtonLang'

export default {
  name: 'BaseHead',
  data () {
    return {
      show: true,
      isOpen: false
    }
  },
  components: {
    BaseButtonLang
  },
  watch:{
    $route: function (to, from) {
      this.show = window.innerWidth < 700 & to.name.startsWith('country-election-game') ? false : true
    }
  },
  mounted () {
    console.log( this.$route)
    if (this.$route.name )
    this.show =  window.innerWidth < 700 & this.$route.name.startsWith('country-election-game') ? false : true
  },
  methods: {
    openClose: function (event) {
      this.isOpen = !this.isOpen

      if (this.isOpen) {
        document.getElementsByTagName('body')[0].classList.add('nav-active')
      } else {
        document.getElementsByTagName('body')[0].classList.remove('nav-active')
      }
    }
  }
}
</script>

<style scoped>
header {
  font-family: Chivo-Regular;
  background-color: #4d134e !important;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  padding-top: 10px;
}

/*
  Logo
  ====
*/
.navbar-item img {
  max-height: 3.5rem;
}

a.navbar-item.is-active:not(:hover),
a.navbar-link.is-active:not(:hover) {
    background-color: transparent;
}

@media only screen and (max-width: 470px) {
  .navbar-item img {
    max-width: 300px;
  }
}

@media only screen and (max-width: 380px) {
  .navbar-item img {
    max-width: 200px;
  }
}

.navbar-brand a.navbar-item.is-active::after,
.navbar-brand a.navbar-item::after {
  height: 0px;
}

/*
  Links
  =====
*/
.navbar-end {
  margin-top: 10px;
}

a.navbar-item, a.navbar-item.is-active {
  color: whitesmoke;
  font-weight: bold;
  display: inline-block;
}

a.navbar-item.is-active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: #FF2079;
}

a.navbar-item:hover {
  background: transparent;
  color: whitesmoke;
  border-width: 4px;
}

a.navbar-item::after {
  content: '';
  display: block;
  width: 0;
  height: 4px;
  background: #FF2079;
  transition: width .3s;
}

a.navbar-item:hover::after {
  width: 100%;
}

/*
  Social buttons
  ==============
*/
.button.social-icon {
  border: 0px;
}

/*
  Delicious burger
  ================
*/
.navbar-burger {
  margin-right: 10px;
}

.navbar-burger span {
  color: white !important;
}

.navbar-burger span {
  color: white;
  height: 3px;
  width: 20px;
}

.navbar-burger span:nth-child(1) {
  top: calc(50% - 8px);
}

.navbar-burger span:nth-child(3) {
  top: calc(50% + 6px);
}

.burger {
  height: 30px;
  width: 30px;
  position: absolute;
  z-index: 5;
  right: 10px;
  top: 5px;
  cursor: pointer;
  margin-top: 23px;
}

.burger-line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #ffffff;
  margin-bottom: 4px;
  transition: background-color .5s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, background-color .5s ease;
  transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
}

/*
  Small NavBar
  ============
*/
.navSmall {
  color: black;
  position: fixed;
  z-index: -1;
  transition: z-index 0.5s step-end
}
.navSmall:before, .navSmall:after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(234, 234, 234, 0.2);
  z-index: -1;
  transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  -webkit-transform: translateX(0%) translateY(-100%);
          transform: translateX(0%) translateY(-100%);
}
.navSmall:after {
  background: white;
  transition-delay: 0s;
}
.navSmall:before {
  transition-delay: .1s;
}
.navSmall-content {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 100%;
  text-align: center;
  font-size: calc(2vw + 10px);
  font-weight: 200;
  cursor: pointer;
}
.navSmall-list-item {
  position: relative;
  display: inline-block;
  transition-delay: 0.8s;
  opacity: 0;
  -webkit-transform: translate(0%, 100%);
          transform: translate(0%, 100%);
  transition: opacity .2s ease, -webkit-transform .3s ease;
  transition: opacity .2s ease, transform .3s ease;
  transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
  margin-right: 30px;;
  margin-top: 30px;
}

@media only screen and (max-width: 490px) {
  .navSmall-list-item {
    display: inherit;
    margin-right: 0px;
    margin-left: 30%;
    text-align: left;
  }
}

.navSmall-list-item a:before {
  content: "";
  position: absolute;
  background: #FF2079;
  width: 20px;
  height: 5px;
  top: 100%;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  transition: all .3s ease;
  z-index: -1;
}
.navSmall-list-item a:hover:before {
  width: 120px;
}

.navSmall-list-item a {
  color: #4d134e;
}

.navSmall-list-item a.is-active {
  color: black;
}

/*
  Burger click
*/
body.nav-active .burger-line {
  background-color: #000;
}

body.nav-active .burger-line:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

body.nav-active .burger-line:nth-child(2) {
  opacity: 0;
  left: -60px;
}

body.nav-active .burger-line:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/*
  Menu click
*/
body.nav-active .navSmall {
  visibility: visible;
  z-index: 4;
  transition: z-index 0.5s step-start
}
body.nav-active .navSmall:before,
body.nav-active .navSmall:after {
  -webkit-transform: translateX(0%) translateY(0%);
          transform: translateX(0%) translateY(0%);
}
body.nav-active .navSmall:after {
  transition-delay: .1s;
}
body.nav-active .navSmall:before {
  transition-delay: 0s;
}
body.nav-active .navSmall-list-item {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, transform .3s ease, color .3s ease;
  transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
}
body.nav-active .navSmall-list-item:nth-child(1) {
  transition-delay: 0.5s;
}
body.nav-active .navSmall-list-item:nth-child(2) {
  transition-delay: 0.6s;
}
body.nav-active .navSamll-list-item:nth-child(3) {
  transition-delay: 0.7s;
}
body.nav-active .navSmall-list-item:nth-child(4) {
  transition-delay: 0.8s;
}
body.nav-active .navSmall-list-item:nth-child(5) {
  transition-delay: 0.9s;
}
</style>
