<template>
  <!-- Change lang -->
  <b-dropdown hoverable>
    <button class="button" slot="trigger">{{ $t('lang') }}</button>

    <b-dropdown-item v-for="locale in availableLocales" :key="locale.code">
      <nuxt-link :to="switchLocalePath(locale.code)">
        {{ locale.name }}
      </nuxt-link>
    </b-dropdown-item>
  </b-dropdown>
</template>

<script>
export default {
  computed: {
    availableLocales () {
      return this.$i18n.locales.filter(i => i.code !== this.$i18n.locale)
    }
  }
}
</script>

<style scoped>
button {
  margin-left: 0.5rem;
}
</style>
