<template>
  <section id="developed">
    <div class="container has-text-centered">

      <h2 class="title is-1">{{ $t("base.developed") }}</h2>
      <p>
        <a href="https://www.fcabierto.org" target="_blank">
          <img src="~@/assets/logos/logo-fca.png" alt="Logo Fundacion Conocimiento Abierto">
        </a>
        <a href="https://altec.lat/es/inicio/" target="_blank" v-if="$route.params.country !== 'Bolivia'">
          <img src="~@/assets/logos/logo-altec.png" alt="Logo ALTEC">
        </a>
        <a href="https://www.avina.net/avina/" target="_blank" v-if="$route.params.country !== 'Bolivia'">
          <img src="~@/assets/logos/logo-avina.png" alt="Logo Fundacion Avina">
        </a>
      <!--
        <a target="_blank" v-if="$route.params.country !== 'Bolivia'">
          <img src="~@/assets/logos/NED.png" alt="Fundación Nacional para la Democracia" />
        </a>
      -->
      </p>

    </div><!--/container -->
  </section>
</template>

<style scoped>
#developed {
  padding-top: 150px;
  padding-bottom: 150px;
}

.title.is-1 {
  margin-bottom: 100px;
}

img {
  width: 250px;
  padding-top: 50px;
}
</style>
