<template>
  <section id="alliances">
    <div class="container has-text-centered">
      <h2 class="title is-1">{{ $t("base.aliances") }}</h2>

      <carousel :per-page="1" :autoplay="true" :autoplayHoverPause="true" :autoplayTimeout="3000" :loop="true">
        <slide>
          <h3 class="title is-3">En Colombia</h3>
          <p>
            <!--
            <a href="https://www.ndi.org/latin-america-and-caribbean/colombia" target="_blank">
              <img src="~@/assets/logos/NDI-logo.png" alt="Logo de Seamos" />
            </a>
            -->
            <a href="http://seamos.co/#/" target="_blank">
              <img src="~@/assets/logos/seamos-logo.png" alt="Logo de Seamos" />
            </a>
          </p>
        </slide>

        <slide>
          <h3 class="title is-3">En Mexico</h3>
          <p>
            <a href="https://votoinformado2018.unam.mx/" target="_blank">
              <img src="~@/assets/logos/logo-unam.png" alt="Voto Informado UNAM" />
            </a>
            <a href="https://votoinformado2018.unam.mx/" target="_blank">
              <img src="~@/assets/logos/logo-votoinformado.png" alt="Voto Informado UNAM" />
            </a>
          </p>
        </slide>

        <slide>
          <h3 class="title is-3">En Guatemala</h3>
          <p>
            <a target="_blank">
              <img src="~@/assets/logos/asies.png" alt="Asociación de Investigación y Estudios Sociales"/>
            </a>
            <a target="_blank">
              <img src="~@/assets/logos/konrad.png" alt="" />
            </a>
            <a target="_blank">
              <img src="~@/assets/logos/mochila.png" alt="" />
            </a>
            <!--
            <a target="_blank">
              <img src="~@/assets/logos/NED.png" alt="Fundación Nacional para la Democracia" />
            </a>
            -->
            <a target="_blank">
              <img src="~@/assets/logos/Ocote.png" alt="" />
            </a>
          </p>
        </slide>
      </carousel>
    </div>

  </section>
</template>

<style scoped>
#alliances {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #4EE3F3;
}

img {
  width: 250px;
  padding-top: 50px;
}
</style>
