<template>
  <section id="contact">
    <div class="container has-text-centered">

      <h2 class="title is-1">{{ $t("base.opinion") }}</h2>
      <p class="title is-3" v-html="$t('base.opinion_link')"></p>

    </div><!--/container -->
  </section><!--/vote -->
</template>

<script></script>

<style scoped>
#contact {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #4EE3F3;
}

.title.is-1 {
  margin-bottom: 50px;
}

p {
  color: black;
  line-height: 150%;
  font-family: Chivo-Regular;
}

strong {
  color: white;
  font-family: Chivo-Bold;
}

a {
  color: white;
}

a:hover, a:active {
  color: white;
}
</style>
