<template>
  <section class="section " id="users-feed">
    <div class="container ">
      <div class="columns  is-multiline is-centered ">
        <nuxt-link
          :key="candidate.id"
          :to="localePath({ name: 'country-election-candidate-name', params: {'country': country, 'election': election.name, 'name': candidate.full_name} })"
          class="column is-one-third"

          v-for="candidate in candidates"
          v-if="!candidate.Candidato || candidate.Candidato != 'vicepresidente'"
        >
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image foto-card" style="width: 64px">
                  <img :src="candidate.photo_link" class="foto-card is-rounded" :key="candidate.photo_link">
                </figure>
              </div>
              <div class="media-content">
                <div class="content candidato-card">
                  <p>
                    <strong>{{ candidate.first_name +' '+candidate.last_name }}</strong>
                    <br/>
                    <small>{{ candidate.party }}</small>
                  </p>
                  <div class="boton-right">
                    <a
                      :href="localePath({ name: 'country-election-candidate-name', params: { 'country': country, 'election': election.name, 'name': candidate.full_name } })"
                      class="button is-small boton-bio"
                    >
                                      <span class="icon">
                                        <fa :icon="faArrowRight"/>
                                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </nuxt-link>
      </div>
    </div>
  </section>
</template>

<script>
  import { faArrowRight } from '@fortawesome/free-solid-svg-icons'

  export default {
    name: "CandidateCards",
    data() {
      return {
        showToolTip: false,
        toolTip: '',
        toolTipRight: 0,
      }
    },
    props: {
      candidates: {required: true},
      country: {required: true},
      election: {required: true},
    },
    computed: {
      faArrowRight () {
        return faArrowRight
      }
    },
    methods: {
      mouseOverImg: function (d, event) {
        // Calculate hte center of the img
        let rect = event.target.getBoundingClientRect()
        let x = rect.left - rect.width / 2
        let y = rect.top + rect.height / 2
        this.toolTipRight = rect.left - rect.width / 2

        this.toolTip = d.first_name + ' ' + d.last_name
        this.showToolTip = true
      },
      mouseLeaveImg: function (d) {
        this.showToolTip = false
      }
    }
  }
</script>

<style scoped>

  .button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(.5em - 1px);
    text-align: center;
    white-space: nowrap;
  }
  .button, .file-cta, .file-name, .input, .pagination-ellipsis, .pagination-link, .pagination-next, .pagination-previous, .select select, .textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(.5em - 1px);
    padding-left: calc(.75em - 1px);
    padding-right: calc(.75em - 1px);
    padding-top: calc(.5em - 1px);
    position: relative;
    vertical-align: top;
  }


  h1 {
    font-family: 'Chivo', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    color: white;
    text-align: center;
  }

  h2{
    font-family: 'Cubano', sans-serif;
    color: white;
    font-size: 2.2rem;
    text-align: center;
  }

  .zocalo{
    background-color: #3ac4c7;
    color: white;
    height: 80px;

  }


  /*seccion de botones*/
  .distritos{
    background: linear-gradient(90deg, #5F31CD 0%, #DF3C75 100%);
    padding-bottom: 0%;
    /*  background-color: #ff2079;*/
  }


  .distrito{
    font-family: 'Chivo', sans-serif;
    font-weight: 700;
    color: #DF3C75;
    border-color:#FCC801;
  }

  .distrito:hover{
    color: white;
    background-color: #DF3C75;
    border-color:#FCC801;
  }
  .distrito:active{
    color: white;
    background-color: #DF3C75;
    border-color: #08efff;
    border-color:#FCC801;
  }
  .distrito:focus{
    color: white;
    background-color: #DF3C75;
    border-color: #1acaff;
  }
  .candidatos{
    background: linear-gradient(0deg, #5F31CD 0%, #DF3C75 100%);
    color: white
  ;
  }


  /*seccion de "DESCUBRE"*/
  .descubre{
    background-image: url("~imgs/emojis.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    text-align: center;
    padding-top: 5%;
  }

  .boton-descubre{
    color:#671D6B;
    font-family: 'Chivo', sans-serif;
    background-color: #FCC801 ;
    font-weight: 700;
    border-color:#FCC801;

  }

  .boton-descubre:hover{
    box-shadow:  0 3px 10px rgb(103 29 107 / 0.8);
    background-color: #DF3C75;
    color: white;
    border-color:#FCC801;
  }
  .boton-descubre:active{
    box-shadow:  0 3px 10px rgb(103 29 107 / 0.8);
    border-color:#FCC801;
  }

  /*sección cards feed candidatos*/

  .candidato-card{
    font-family: 'Chivo', sans-serif;
    color: #5F31CD;
  }



  .boton-bio{
    height: 2em;
    width: 2em;
    font-family: 'Chivo', sans-serif;
    font-weight: 700;
    color: #DF3C75;
    text-align: right;
    border-color:#DF3C75 ;
  }

  .boton-bio:hover{
    color: white;
    background-color: #DF3C75;
  }

  .boton-bio:focus{
    color: white;
    background-color: #DF3C75;
    border-color: #1acaff;
  }

  .boton-right{
    text-align: right;
  }

  /* page bio de candidato*/

  .bio{
    background: linear-gradient(180deg, #FF2079 0%, #5F31CD 100%);
  }


  .foto-candidato{
    width: 200px;
    height: 200px;

  }

  .foto-redonda{
    border-color: #fec900;
    border-style:solid;
    border-width:thick;
    border-radius: 50%;

  }

  .nombre{
    font-family: 'Cubano',sans-serif;
    font-size: 3rem;
    font-weight: 900;
    color:white;
  }

  .fondo-violeta{
    background-color: #4d134e;
  }

  .textos-bio{
    font-family: 'Chivo', sans-serif;
    font-size: 16px;
    color: white;
  }
</style>
