<template>
  <section id="respuestas">
    <h2 class="title is-2 is-hidden-mobile">Conoce la similitud de respuestas entre los candiatos</h2>

    <p>
      Este grafico solo se lo puede ver desde una tablet o una computadora.
    </p>

    <div class="is-hidden-mobile">
      <div id="legend">
        <div>
          Area:
          <select v-model="selectedCategory" placeholder="Country" id="show">
            <option v-for="ele in categories" :key="ele.id" :value="ele">
              {{ ele }}
            </option>
          </select>
        </div>

        <p><span class="square pink"></span>Si - Si, pero</p>
        <p><span class="square blue"></span>No - No, pero</p>
        <p><span class="square"></span>No hay declaraciones del candidato</p>
      </div>

      <svg id="anwsers"></svg>
    </div>
  </section>
</template>

<script>
import * as d3 from 'd3'

export default {
  name: 'CandidateCorrelationMatrix',
  data () {
    return {
      svg: null,
      // cellSize: 0,
      cellSize: { width: 0, height: 0 },
      svgSize: { width: 0, height: 0 },
      margin: { top: 150, right: 10, bottom: 50, left: 0 },

      candidates: [],
      questions: [],

      categories: ['TODAS'],
      selectedCategory: ''
    }
  },
  props: {
    yqs: {
      type: Object,
      required: true
    }
  },
  watch: {
    selectedCategory: function () {
      let questions = this.questions.filter(d => {
        if (this.selectedCategory === 'TODAS') { return true }
        return d.category === this.selectedCategory
      })

      let data = []
      for (let i = 0; i < this.candidates.length; i++) {
        for (let j = 0; j < questions.length; j++) {
          let index = questions[j].index

          data.push({
            'col': i,
            'row': j,
            'sort': this.candidates[i].sort_answer[index],
            'long': this.candidates[i].long_answer[index],
            'name': this.candidates[i].last_name,
            'category': questions[j].category
          })
        }
      }

      this.plot(questions, data)
    }
  },
  computed: {
    plesidentes: function () {
      return this.yqs.candidates[this.$route.params.election];
    },
    plesidentes_old: function () {
      let candidatos = this.yqs.candidates[this.$route.params.election];
      let retval = [];
      for (let i = 0; i < candidatos.length; i++) {
        if (!candidatos[i].Candidato || candidatos[i].Candidato == 'presidente' || candidatos[i].Candidato == 'Presidente')
          retval.push(candidatos[i]);
      }
      return retval;
    },
    enabledQuestions: function () {
      let retval = [];
      for (let qi = 0; qi < this.yqs.questions_all.length; qi++){
        if (this.yqs.questionIndexes.includes(parseInt(this.yqs.questions_all[qi].pindex))) {
          retval.push(this.yqs.questions_all[qi]);
        }
        else {
          if (this.yqs.questionIndexes.includes(''+this.yqs.questions_all[qi].pindex)) {
            retval.push(this.yqs.questions_all[qi]);
          }
          else {
           // console.log(' No esta '+this.yqs.questions_all[qi].pindex+ ' en '+this.yqs.questionIndexes);
          }
        }
      }
      //console.log(retval);
      return retval;
    }
  },
  mounted () {
    this.candidates = this.yqs.candidates[this.$route.params.election]
    //this.questions = this.yqs.questions_all;
    this.questions = this.enabledQuestions;

    this.questions.forEach((d, index) => {
      d.index = index
    })

    let data = []
    for (let i = 0; i < this.plesidentes.length; i++) {
      for (let j = 0; j < this.questions.length; j++) {
        data.push({
          'col': i,
          'row': j,
          'sort': this.plesidentes[i].sort_answer[this.questions[j].pindex],
          'long': this.plesidentes[i].long_answer[this.questions[j].pindex],
          'name': this.plesidentes[i].last_name,
          'category': this.questions[j].category
        })
      }
    }

    // Uniques categories
    let l = ['TODAS']
    this.questions.forEach(d => { l.push(d.category) })
    this.categories = [...new Set(l)]

    let containerDiv = document.getElementById('candidate').clientWidth
    this.margin.left = containerDiv / 3
    this.cellSize.width = containerDiv * 2 / 3 / this.plesidentes.length
    this.cellSize.height = this.cellSize.width * 2

    // SVG size
    let width = this.cellSize.width * this.plesidentes.length
    let height = this.cellSize.height * this.questions.length

    // SVG size
    this.svgSize.width = width
    this.svgSize.height = height

    // Append the svg
    this.svg = d3.select('#anwsers')
      .attr('width', width + this.margin.left + this.margin.right)
      .attr('height', height + this.margin.top + this.margin.bottom)
      .append('g')
      .attr('transform', 'translate(' + this.margin.left + ',' + this.margin.top + ')')

    // G for the matrix
    this.svg.append('g')
      .attr('class', 'matrix')

    // G for the rows
    this.svg.append('g')
      .attr('class', 'rows')

    // eslint-disable-next-line
    var colLabels = this.svg.append('g')
      .attr('class', 'cols')
      .selectAll('.colLabelg')
      .data(this.plesidentes)
      .enter()
      .append('text')
      .text(d => { return d.last_name })
      .attr('x', 0)
      .attr('y', (d, i) => { return i * this.cellSize.width })
      .attr('transform', 'translate(' + this.cellSize.height / 2 + ',-6) rotate (-90)')
      .attr('class', 'label')
      .style('text-anchor', 'left')
      .call(this.wrap, this.margin.top)

    this.plot(this.questions, data)
  },
  methods: {
    plot: function (questions, data) {
      var rowLabels = this.svg.select('.rows').selectAll('.label')
        .data(questions)

      // Enter + update
      rowLabels.enter()
        .append('text')
        .attr('x', 0)
        .attr('y', (d, i) => { return i * this.cellSize.height })
        .attr('transform', 'translate(-6,' + this.cellSize.width / 4 + ')')
        .attr('class', 'label')
        .style('text-anchor', 'end')
        .merge(rowLabels)
        .text(d => { return d.question })
        .call(this.wrap, this.margin.left)

      // Exit
      rowLabels.exit().remove()

      var heatMap = this.svg.select('.matrix').selectAll('.cell')
        .data(data)

      // Enter + update
      heatMap.enter()
        .append('rect')
        .attr('class', 'cell')
        .attr('width', this.cellSize.width)
        .attr('height', this.cellSize.height)
        .merge(heatMap)
        .attr('x', d => { return d.col * this.cellSize.width })
        .attr('y', d => { return d.row * this.cellSize.height })
        .style('fill', d => { return this.colorScale(d.sort) })
        .on('mouseover', d => { this.mouseover(d) })
        .on('mouseout', d => { this.mouseout(d) })

      heatMap.exit().remove()
    },
    colorScale: function (value) {
      return value === 0 ? '#ed337d'
        : value === 1 ? '#ed337d'
          : value === 2 ? '#4ee3f3'
            : value === 3 ? '#4ee3f3'
              : '#ffffff'
    },
    mouseover: function (d) {
      /*
        On mouse over highlight the rect and shoe the tooltip
      */
      // Update the tooltip position and value
      d3.select('#tooltip')
        .style('left', (d3.event.pageX - 300) + 'px')
        .style('top', (d3.event.pageY + 20) + 'px')
        .select('#value')
        .html(() => {
          if (d.long === '') {
            return 'No hay declaraciones del candidato <strong>' + d.name + '</strong> sobre este tema.'
          } else {
            return '<strong>' + d.name + '</strong><br />' + '<strong>Respuesta:</strong> ' + d.long
          }
        })

      // Show the tooltip
      d3.select('#tooltip').classed('hidden', false)
    },
    mouseout: function (d) {
      /*
        On mouse out, remove the highlight
      */
      d3.select('#tooltip').classed('hidden', true)
    },
    wrap: function (text, width) {
      /*
      Break long label in multiple lines.
      This code was take from https://bl.ocks.org/mbostock/7555321
      Thanks to Mike Bostock!
      */
      text.each(function () {
        let text = d3.select(this)
        let words = text.text().split(/\s+/).reverse()
        let word
        let line = []
        let lineNumber = 0
        let lineHeight = 1.1
        let y = text.attr('y')
        let dy = 0

        let tspan = text.text(null)
          .append('tspan')
          .attr('x', 0)
          .attr('y', y)
          .attr('dy', dy + 'em')

        // eslint-disable-next-line
        while (word = words.pop()) {
          line.push(word)
          tspan.text(line.join(' '))
          if (tspan.node().getComputedTextLength() > width) {
            line.pop()
            tspan.text(line.join(' '))
            line = [word]
            tspan = text.append('tspan')
              .attr('x', 0)
              .attr('y', y)
              .attr('dy', ++lineNumber * lineHeight + dy + 'em')
              .text(word)
          }
        }
      })
    }
  }
}
</script>

<style>
#legend p,
#legend div {
  display: inline;
  padding-right: 30px;
}

#legend div select#show {
  width: 200px;
}

.square {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: white;
  margin-right: 5px;
}

#legend p span.square.pink {
  background: #ed337d;
}

#legend p span.square.blue {
  background: #4ee3f3;
}

rect.cell {
  stroke: #eee;
  stroke-width: 3px;
}

rect.cell:hover {
  stroke: #F00;
  stroke-width: 3px;
}

#anwsers g g.rows text.label,
#anwsers g g.cols text.label {
  font-family: Chivo-Regular;
  font-size: 15px;
}

@media (min-width: 992px) {
  #anwsers g g.rows text.label,
  #anwsers g g.cols text.label {
    font-size: 20px;
  }
}
</style>
