<template>
  <section id="comparacion">
    <h2 class="title is-2">Compará las respuestas entre los candidatos </h2>

    <p class="long-text">
      A partir de las preguntas respondidas por los candidatos, podemos conocer
      la similitud de respuesta entre {{ this.$route.params.name.replace(/-/g, ' ') }} y los demás candidatos.
    </p>

    <svg id="comparation"></svg>
  </section>
</template>

<script>
import * as d3 from 'd3'

export default {
  name: 'Comparation',
  data () {
    return {
      svg: null,
      simulation: null,
      node: null,
      forceStrength: 0.08,
      radio: null,
      svgSize: {width: 0, height: 0},
      margin: {top: 0, right: 100, bottom: 50, left: 100}
    }
  },
  props: {
    graph: {
      type: Array,
      requide: true
    }
  },
  computed: {
    plesidentes: function () {
      let candidatos = this.yqs.candidates[this.$route.params.election];
      let retval = [];
      for (let i = 0; i < candidatos.length; i++) {
        if (!candidatos[i].Candidato || candidatos[i].Candidato == 'presidente' || candidatos[i].Candidato == 'Presidente')
          retval.push(candidatos[i]);
      }
      return retval;
    }
  },
  mounted () {
    var that = this

    // Set the radio base on window size
    this.radio = window.innerWidth < 768 ? 20
      : window.innerWidth < 922 ? 40
        : window.innerWidth < 1200 ? 60
          : 70

    this.margin = window.innerWidth < 768 ? {top: 0, right: 30, bottom: 50, left: 30}
      : window.innerWidth < 922 ? {top: 0, right: 50, bottom: 50, left: 50}
        : window.innerWidth < 1200 ? {top: 0, right: 70, bottom: 50, left: 70}
          : {top: 0, right: 100, bottom: 50, left: 100}

    let height = window.innerWidth < 768 ? 250
      : 400

    // SVG size
    this.svgSize.width = document.getElementById('candidate').clientWidth - this.margin.left - this.margin.right
    this.svgSize.height = height - this.margin.top - this.margin.bottom

    // Append the svg
    this.svg = d3.select('#comparation')
      .attr('width', document.getElementById('candidate').clientWidth)
      .attr('height', height)
      .append('g')
      .attr('transform', 'translate(' + this.margin.left + ',' + this.margin.top + ')')

    // X scale
    var x = d3.scaleLinear()
      .rangeRound([0, this.svgSize.width])
      .domain([100, 0])

    // Init the simulation
    this.simulation = d3.forceSimulation()
      .velocityDecay(0.6)
      .force('x', d3.forceX().strength(this.forceStrength).x((d) => { return x(d.similarity) }))
      .force('y', d3.forceY().strength(this.forceStrength).y((d) => { return this.svgSize.height / 2 }))
      .force('collide', d3.forceCollide().radius((d) => { return this.radio }))

    // Add a g to for each node
    this.node = this.svg.selectAll('.node')
      .data(this.graph)
      .enter().append('g')
      .attr('class', 'node')

    // Append a circle
    this.node.append('circle')
      .attr('r', this.radio)
      .style('fill', '#eee')
     // .style('fill', 'url('+ d.photo +')')

    // Append the photos
    this.node.append('image')
      //.classed('is-rounded', true)
      //.attr('preserveAspectRatio', 'none')

      .attr('xlink:href', (d) => { return d.photo })
      .attr('x', -this.radio)
      .attr('y', -this.radio)

      .attr('width', 2 * this.radio)
      .attr('height', 2 * this.radio)
      .on('mouseover', (d) => { this.mouseover(d) })
      .on('mouseout', (d) => { this.mouseout(d) })

    // Append the x axis
    this.svg.append('g')
      .attr('class', 'axis')
      .attr('transform', 'translate(0,' + this.svgSize.height + ')')
      .call(d3.axisBottom(x))
      .select('.domain')
      .remove()

    this.svg.selectAll('.axis .tick line')
      .remove()

    this.svg.selectAll('.axis .tick text')
      .attr('y', 0)
      .attr('dy', 0)
      .text((d) => { return d + '%' })

    // text label for the x axis
    this.svg.append('text')
      .attr('transform', 'translate(' + (this.svgSize.width / 8) + ',' + (this.svgSize.height + this.margin.top + 40) + ')')
      .style('text-anchor', 'middle')
      .text('Mas similares')

    this.svg.append('text')
      .attr('transform', 'translate(' + 7 * (this.svgSize.width / 8) + ',' + (this.svgSize.height + this.margin.top + 40) + ')')
      .style('text-anchor', 'middle')
      .text('Mas distintos')

    this.simulation
      .nodes(this.graph)
      .on('tick', ticked)

    function ticked () {
      that.node
        .attr('transform', function (d) {
          return 'translate(' + d.x + ',' + d.y + ')'
        })
    }
  },
  methods: {
    mouseover: function (d) {
      /*
        On mouse over highlight the rect and shoe the tooltip
      */
      // Update the tooltip position and value
      d3.select('#tooltip')
        .style('left', (d3.event.pageX - 105) + 'px')
        .style('top', (d3.event.pageY + 20) + 'px')
        .select('#value')
        .html(() => {
          if (this.$route.params.name === d.name) {
            return '<strong>' + d.name.replace(/-/, ' ') + '</strong>'
          } else {
            return '<strong>' + d.name.replace(/-/g, ' ') + '</strong><br /> tiene un <strong>' +
                   d.similarity.toFixed(2) + '%</strong> de similitud de respuestas con <strong>' +
                   this.$route.params.name.replace(/-/, ' ') + '</strong>'
          }
        })

      // Show the tooltip
      d3.select('#tooltip').classed('hidden', false)
    },
    mouseout: function (d) {
      /*
        On mouse out, remove the highlight
      */
      d3.select('#tooltip').classed('hidden', true)
    }
  }
}
</script>

<style>
.axis {
  font: 14px sans-serif;
}

text {
  fill: white;
  font-size: 15px;
  font-family: Cubano-Regular;
}

@media (min-width: 768px) {
  text {
    font-size: 20px;
  }
}

.long-text {
  font-family: Chivo-Regular;
}

div.graph-text {
  position: absolute;
  text-align: center;
  padding: 2px;
  font-size: 18px;
  background: #ff2079;
  border: 0px;
  border-radius: 8px;
}
</style>
