<template>
  <div class="candidatesPhotos">
    <div v-show="showToolTip" v-bind:style="{left: toolTipRight + 'px'}" class="toolTipImg">
      <p>{{ toolTip }}</p>
    </div>

    <nuxt-link
      v-for="candidate in candidates"
      :key="candidate.id"
      :to="localePath({ name: 'country-election-candidate-name', params: {'country': country, 'election': election.name, 'name': candidate.full_name} })"

      class=""
      v-if="!candidate.Candidato || candidate.Candidato != 'vicepresidente'"
    >
      <img @mouseover="mouseOverImg(candidate, $event)" @mouseleave="mouseLeaveImg"
           :src="candidate.photo_link" :alt="'Foto del candidato ' + candidate.first_name +' '+candidate.last_name" />
    </nuxt-link>
  </div>
</template>

<script>
  export default {
    name: "CandidatePhotos",
    data() {
      return {
        showToolTip: false,
        toolTip: '',
        toolTipRight: 0,
      }
    },
    props: {
      candidates: {required: true},
      country: {required: true},
      election: {required: true},
    },
    methods: {
      mouseOverImg: function (d, event) {
        // Calculate hte center of the img
        let rect = event.target.getBoundingClientRect()
        let x = rect.left - rect.width / 2
        let y = rect.top + rect.height / 2
        this.toolTipRight = rect.left - rect.width / 2

        this.toolTip = d.first_name + ' ' + d.last_name
        this.showToolTip = true
      },
      mouseLeaveImg: function (d) {
        this.showToolTip = false
      }
    }
  }
</script>

<style scoped>

</style>
