<template>
  <section class="section distritos">
    <div class="container">
      <div class="buttons is-centered are-small">
        <button
          class="button distrito"
          v-for="distrito in distritos"
          :key="distrito"
          @click="$emit('input', distrito)"
          :class="{distritoactive: (value === distrito)}"
        >
          {{distrito}}
        </button>
      </div>
      <div class="has-text-white-bis has-text-centered"><i class="fas fa-angle-down fa-3x"></i></div>
    </div>
  </section>
</template>

<script>
    export default {
        name: "DistritosButtons",
      props: {
          distritos: {
            required: true,
            default: () => []
          },
        value: {
          required: false
          }
        }
    }
</script>

<style scoped>
  .buttons.is-centered {
    justify-content: center;
  }
  .distritos{
    background: linear-gradient(90deg, #5F31CD 0%, #DF3C75 100%);
    padding-bottom: 0%;
    /*  background-color: #ff2079;*/
  }


  .distrito{
    font-family: 'Chivo', sans-serif;
    font-weight: 700;
    color: #DF3C75;
  }

  .distrito:hover{
    color: white;
    background-color: #DF3C75;
  }

  .distritoactive{
    color: white;
    background-color: #DF3C75;
  }

  .distrito:active{
    color: white;
    background-color: #DF3C75;
    border-color: #08efff;
  }
  .distrito:focus{
    color: white;
    background-color: #DF3C75;
    border-color: #1acaff;
  }
  .candidatos{
    background: linear-gradient(0deg, #5F31CD 0%, #DF3C75 100%);
    color: white;
  }
</style>
