<template>
  <div class="fake-container summary">
    <div class="sumarycard">
      <div class="has-text-centered has-background-white is-size-3" style="margin-top: 1em">
        <p>Resultados</p>
      </div>

      <div class="columns is-mobile has-text-centered"  style="margin-top: 2em">
        <div class="column is-half has-text-centered">
          <figure class="image reacbutton has-background-white"
                  style="margin-left: 1em;margin-right: auto;">
            <img class="" src="/fake/cruz.png">
          </figure>
        </div>
        <div class="column is-half has-text-centered">
          <figure class="image reacbutton has-background-white"
                  style="margin-left: 1em;margin-right: auto;">
            <img class="" src="/fake/corazon.png">
          </figure>
        </div>
      </div>
      <div class="columns is-mobile has-text-centered">
        <div class="column is-half has-text-centered porcentaje" style="color: #CE3939;">
          % {{chingadas}}
        </div>
        <div class="column is-half has-text-centered porcentaje" style="color: #73BA61;">
          % {{acertadas}}
        </div>
      </div>


    </div>
  </div>
</template>

<script>
import { format, scaleLinear } from 'd3'

export default {
  data () {
    return {
      imgScale: null,
      f: format('d')
    }
  },
  props: {
    results: {
      type: Array,
      require: true
    }
  },
  computed: {
    chingadas: function () {
      let total = 0;
      let errores = 0;
      for (let i in this.results) {
        total++;
        if (this.results[i].lechingo)
          errores++;
      }
      return Math.round((100 / total) * errores);
    },
    acertadas: function () {
      let total = 0;
      let errores = 0;
      for (let i in this.results) {
        total++;
        if (!this.results[i].lechingo)
          errores++;
      }
      return Math.round((100 / total) * errores);
    }
  }
}
</script>

<style scoped>

  .porcentaje {
    font-family: Cubano-Regular;
    font-size: x-large;
  }

  .sumarycard {
    font-family: Cubano-Regular;
    margin-top: 3em;
    color: black;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-bottom: auto;
    padding: 2em;
  }

  @media (max-height: 560px) {
    .sumarycard {
      margin-bottom: 0;
    }
  }

header h2 {
  color: white;
}

.summary {
  margin-top: 3rem;
  /*overflow-y: auto;*/
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.candidate {
  text-align: center;
  width: 100%;
  display: flex;
  margin-bottom: 3vh;
  margin-top: 16px;
}

.candidate .summary-img {
  float: left;
  width: 40%;
  text-align: right;
}

.candidate .summary-img img {
  width: 11vw;
}

.candidate .summary-text {
  float: right;
  width: 50%;
  text-align: left;
  padding-top: 6px;
  padding-left: 20px;
}

.candidate .summary-text span {
  display: inherit;
}

.title.is-4 {
  margin: 0;
}

footer {
  margin-bottom: 20px;
}

  .reacbutton {
    height: 110px;
    width: 110px;
  }

  @media (max-height: 700px) {
    .reacbutton {
      height: 64px;
      width: 64px;
    }
  }
</style>
