<template>
  <div class="container2">
    <div class="row row-navbar">
      <div class="col-3-sm">
        <nuxt-link :to="localePath('index')">
          <span class="circulito" alt="Logo yo voto informado"></span>
        </nuxt-link>
      </div>
      <div class="col-7-sm">
        <slot></slot>
      </div>
      <div class="col-2-sm text-center">
        <span
              style="min-height: 100%; display: block;background-color: white"
              class="navbar-burger burger1" v-on:click="openClose"
        >
          <span class="burger-line"></span>
          <span class="burger-line"></span>
          <span class="burger-line"></span>
        </span>
      </div>
    </div>
    <div class="navSmall">
      <div class="navSmall-content">
        <ul class="navSmall-list">
          <li class="navSmall-list-item" v-on:click="openClose">
            <nuxt-link :to="localePath('index')" class="">
              {{ $t("navBar.home") }}
            </nuxt-link>
          </li>
          <li class="navSmall-list-item" v-on:click="openClose">
            <nuxt-link :to="localePath('we')" class="">
              {{ $t("navBar.we") }}
            </nuxt-link>
          </li>
          <li class="navSmall-list-item" v-on:click="openClose">
            <nuxt-link :to="localePath('methodology')" class="">
              {{ $t("navBar.methodology") }}
            </nuxt-link>
          </li>
          <li class="navSmall-list-item" v-on:click="openClose">
            <nuxt-link :to="localePath('mediakit')" class="">
              {{ $t("navBar.mediakit") }}
            </nuxt-link>
          </li>
        </ul>
      </div><!--/navSmall-content -->
    </div><!--/navSmall -->
<!--
    <nav v-if="show" class="gamebasenavbarnuevo row">
      <div class="col-2-sm">
        <nuxt-link :to="localePath('index')">
          <span class="circulito" alt="Logo yo voto informado"></span>
        </nuxt-link>
      </div>

      <slot></slot>
      <div class="homebutton col-2-sm">




      </div>
    </nav>
    -->
  </div>

</template>

<script>
export default {
  data () {
    return {
      show: true
    }
  },
  watch:{
    $route: function (to, from) {
      //this.show = window.innerWidth > 700 ? false : true
    }
  },
  mounted () {
    //this.show = window.innerWidth > 700 ? false : true
  },
  methods: {
    openClose: function (event) {
      this.isOpen = !this.isOpen

      if (this.isOpen) {
        document.getElementsByTagName('body')[0].classList.add('nav-active')
      } else {
        document.getElementsByTagName('body')[0].classList.remove('nav-active')
      }
    }
  }
}
</script>

<style>
 .dots {
    display: inline-block;
    width: 1vh;
    height: 1vh;
    border-radius: 50%;
    margin-left: 0.2vh;
    margin-right: 0.2vh;
    background-color: white;
    vertical-align: middle;
  }

  .dots.done {
    background-color: #706E6E;
  }
</style>
<style scoped>

  .row-navbar div {
    height: 10vh;
    border: white; border-style: solid;
    text-align: center;

  }

  .burger {
    height: 12vw !important;
    width: 14vw !important;
    position: absolute;
    z-index: 5;
    right: 10px;
    top: unset !important;
    cursor: pointer;
    margin-top: 3vw !important;
    background-color: white !important;
  }

  .burger-line {
    height: 2px !important;
    width: 5vw !important;
    display: block;
    background-color: black !important;
    margin-bottom: 4px;
    transition: background-color .5s ease, -webkit-transform .2s ease;
    transition: transform .2s ease, background-color .5s ease;
    transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
  }

  .navbar-burger {
    margin-right: unset !important;
    background-color: white;
  }

  .navSmall {
    color: black;
    position: fixed;
    z-index: -1;
    transition: z-index 0.5s step-end
  }

  .navSmall:before, .navSmall:after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(234, 234, 234, 0.2);
    z-index: -1;
    transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    -webkit-transform: translateX(0%) translateY(-100%);
    transform: translateX(0%) translateY(-100%);
  }

  .navSmall:after {
    background: white;
    transition-delay: 0s;
  }

  .navSmall:before {
    transition-delay: .1s;
  }

  .navSmall-content {
    position: fixed;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    width: 100%;
    text-align: center;
    font-size: calc(2vw + 10px);
    font-weight: 200;
    cursor: pointer;
  }

  .navSmall-list-item {
    position: relative;
    display: inline-block;
    transition-delay: 0.8s;
    opacity: 0;
    -webkit-transform: translate(0%, 100%);
    transform: translate(0%, 100%);
    transition: opacity .2s ease, -webkit-transform .3s ease;
    transition: opacity .2s ease, transform .3s ease;
    transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
    margin-right: 30px;;
    margin-top: 30px;
  }

  @media only screen and (max-width: 490px) {
    .navSmall-list-item {
      display: inherit;
      margin-right: 0px;
      margin-left: 30%;
      text-align: left;
    }
  }

  .navSmall-list-item a:before {
    content: "";
    position: absolute;
    background: #FF2079;
    width: 20px;
    height: 5px;
    top: 100%;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    transition: all .3s ease;
    z-index: -1;
  }

  .navSmall-list-item a:hover:before {
    width: 120px;
  }

  .navSmall-list-item a {
    color: #4d134e;
  }

  .navSmall-list-item a.is-active {
    color: black;
  }

  body.nav-active .burger-line {
    background-color: #000;
  }

  body.nav-active .burger-line:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  body.nav-active .burger-line:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  body.nav-active .burger-line:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  body.nav-active .navSmall {
    visibility: visible;
    z-index: 4;
    transition: z-index 0.5s step-start
  }
  body.nav-active .navSmall:before,
  body.nav-active .navSmall:after {
    -webkit-transform: translateX(0%) translateY(0%);
    transform: translateX(0%) translateY(0%);
  }
  body.nav-active .navSmall:after {
    transition-delay: .1s;
  }
  body.nav-active .navSmall:before {
    transition-delay: 0s;
  }
  body.nav-active .navSmall-list-item {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
    transition: opacity .3s ease, transform .3s ease, color .3s ease;
    transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
  }
  body.nav-active .navSmall-list-item:nth-child(1) {
    transition-delay: 0.5s;
  }
  body.nav-active .navSmall-list-item:nth-child(2) {
    transition-delay: 0.6s;
  }
  body.nav-active .navSamll-list-item:nth-child(3) {
    transition-delay: 0.7s;
  }
  body.nav-active .navSmall-list-item:nth-child(4) {
    transition-delay: 0.8s;
  }
  body.nav-active .navSmall-list-item:nth-child(5) {
    transition-delay: 0.9s;
  }

  .homebutton {
    /*display: inline-block;
    float: right;
    padding-top: 3vh;*/
  }

  @media screen and (max-width : 700px) {
    nav {
      padding-bottom: 7vh;
    }
  }

  @media screen and (min-width : 700px) {
    nav {
      padding-bottom: 15vh;
    }
  }

img {
  max-width: 150px;
}

svg {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
}

  /*@media screen and (max-width : 700px) {*/
    .circulito {
      border-radius: 50%;
      border-style: solid;
      border-width: 1.8vw;
      border-color: white;
      background-color: black;
      max-width: 150px;
      width: 100%;
      height: 100%;
      display: block;
    }
  /*}*/

  @media screen and (min-width : 700px) {
    .circulito {
      display: block;
      border-width: 1em;
    }

  }



</style>
