<template>
  <nav v-if="show">
    <nuxt-link :to="localePath('index')">
      <img :src="'/logo-yqs-small-es.png'" alt="Logo yo voto informado">
    </nuxt-link>

    <fa :icon="['fas', 'home']" class="fa-2x" v-on:click="$store.commit('game/selectMode', 'menu')" />
  </nav>
</template>

<script>
export default {
  data () {
    return {
      show: true
    }
  },
  watch:{
    $route: function (to, from) {
      this.show = window.innerWidth > 700 ? false : true
    }
  },
  mounted () {
    this.show = window.innerWidth > 700 ? false : true
  },
}
</script>

<style scoped>
img {
  max-width: 150px;
}

svg {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
}
</style>
