<template>
  <div>
    <!-- Game header -->
    <game-progress-header v-if="!showSummary" title="casual"
      :totalQuestions="totalQuestions" :actualQuestion="actualQuestion"></game-progress-header>

    <!-- Game cards -->
    <div v-if="!showSummary" class="casual-container">
      <div v-for="i in (5 - actualQuestion)" :key="i" class="card" v-bind:style="cardStyle(i)"
        v-hammer:swipe="swipe" :class="i === 1 ? swipeClass : ''">
        <span v-if="i === 1" style="font-family: 'Chivo', sans-serif">{{ questions[actualQuestion].question }}</span>
      </div>
    </div>

    <!-- Game footer -->
    <footer v-if="!showSummary" class="">
      <button v-on:click="swipe({deltaX: -10})" class="button is-outlined chivo" style="background: unset; padding-right: 0px">&#9668; NO</button>
      <button v-on:click="swipe({deltaX: 10})"  class="button is-outlined chivo" style="background: unset; padding-left: 0px">SI &#9658;</button>
    </footer>

    <!-- Game summary -->
    <game-partial-result v-if="showSummary" :results="results"></game-partial-result>

  </div>
</template>

<script>

import { calculateSimilarity_nuevo } from '~/assets/common'
import GameProgressHeader from '~/components/GameBaseProgressHeader'
import GamePartialResult from '~/components/GameBasePartialResult'

export default {
  data () {
    return {
      // Questions config
      totalQuestions: 5,
      actualQuestion: 0,
      showSummary: false,
      respuestas: [],
      userAnswer: [],
      results: [],

      swipeClass: ''
    }
  },
  props: {
    allquestions: {
      type: Array,
      require: true
    },
    questions: {
      type: Array,
      require: true
    },
    candidates: {
      type: Array,
      require: true
    }
  },
  components: {
    GameProgressHeader,
    GamePartialResult
  },
  watch: {
    actualQuestion: function () {
      // End of this game
      //console.log(this.questions, actualQuestion);
      //console.log(this.questions, this.actualQuestion);
      if (this.actualQuestion === this.totalQuestions) {
        //console.log(this.questions, actualQuestion);
        this.showSummary = true;
        this.results = calculateSimilarity_nuevo(this.candidates, this.userAnswer, this.respuestas, this.allquestions);
      }
    }
  },
  mounted: function () {
    //console.log(this.questions, this.actualQuestion);
  },
  methods: {
    cardStyle: function (i) {
      //
      i--
      let stepAlpha = 1/this.questions.length

      if (i === 0) return {}
      return {
      'transform': `perspective(500px) translate3d(0px, ${i*30}px, ${-i*30}px)`,
      'background-color': `rgba(255, 168, 0, ${(this.questions.length - i)*stepAlpha})`,
      'z-index': 100 - i
      }
    },
    swipe: function (event) {
      // Swipe the card left or right
      if (event.deltaX > 0) {
        this.userAnswer.push(0);
        this.respuestas.push(
            {
              pindex: this.questions[this.actualQuestion].pindex,
              rta: 0,
              question: this.questions[this.actualQuestion]
            });
        this.swipeClass = 'slideRightOut'
      } else if (event.deltaX < 0) {
        this.userAnswer.push(2);
        this.respuestas.push(
            {
              pindex: this.questions[this.actualQuestion].pindex,
              rta: 2,
              question: this.questions[this.actualQuestion]
            });
        this.swipeClass = 'slideLeftOut'
      }

      setTimeout(() => { this.swipeClass = ''; this.actualQuestion ++ }, 500)
    }
  }
}
</script>

<style scoped>
.casual-container {
	text-align: center;
	margin: auto;
	width: 70%;
	height: 53vh;
}

.casual-container .card {
  width: 70%;
	height: 50vh;
  padding-left: 15px;
  padding-right: 15px;

  border-radius: 5px;
	position: absolute;
  color: white;
	background-color: #FFA800;

  font-size: 1.3rem;
  line-height: 1.5rem;

	vertical-align: middle;
	display: table;
}

.casual-container .card:nth-child(1) {
  z-index: 100;
}

.casual-container .card span {
  display: table-cell;
  vertical-align: middle;
}

footer {
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
}

footer button {
  cursor: pointer;
	color: #a48aa5;
	background-color: #4a164b;
	border: none;
	font-size: 2.5rem;
}
footer button:hover {
  background-color: #4a164b;
  color: #a48aa5;
}

footer button:active {
  background-color: #4a164b;
  color: #a48aa5;
}

footer button:focus {
  background-color: #4a164b;
  color: #a48aa5;
}

footer button:last-child {
  float: right;
}
</style>
