<template>
  <div>
    <!-- Game header -->
    <game-progress-header :actualQuestion="actualQuestion" :totalQuestions="totalQuestions"
                          title="¿Que Opina..." v-if="!showSummary"></game-progress-header>

    <!-- Game -->
    <div class="question" v-if="!showSummary && options.length > 0 && !showResult">
      <!--
      <img :src="candidate.photo" class="image"/>
      <div class="text">
        <p class="cname">{{ candidate.name.replace(/-/g, ' ') }}</p>
        <p class="cquestion">{{ candidate.question }}</p>
      </div>
      -->
      <div class="card" style="background-color: inherit; color: white; box-shadow: none">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img :alt="candidate.name.replace(/-/g, ' ')" :src="candidate.photo">
              </figure>
            </div>
            <div class="media-content">
              <p class="title" style="color: white"> {{ candidate.name.replace(/-/g, ' ') }}</p>
              <p class="subtitle is-6" style="color: white">{{ candidate.question }}</p>
            </div>
          </div>

        </div>
      </div>
    </div><!--/.question -->

    <div class="options" v-if="!showSummary && !showResult">
      <div :style="option.style"
           class="option button-d3"
           style="border-radius: 2em"
           v-for="(option, i) in options"
           v-on:click="selectOption(option.name, i)">
        <img :src="option.photo"/>
        <p class="canswer">{{ option.answer }}</p>
      </div>
    </div>

    <div :style="{border: exito ? '5px solid green' : '5px solid red' }" style="border-radius: 1em; margin: 1em" class="has-text-centered resultado"
         v-if="showResult && !showSummary">
      <img :src="candidate.photo" class="cfoto" style="padding-top: 1em"/>
      <p class="cname">{{ candidate.name.replace(/-/g, ' ') }}</p>
      <p class="cquestion">{{ candidate.question }}</p>
      <p class="canswer">
        {{ candidate.answer }}
      </p>

      <button class="button-d3" v-on:click="siguiente()" style="margin-bottom: 1em">
        Siguiente
      </button>
    </div>

    <!-- Summary -->
    <div class="has-text-centered dd" v-if="showSummary && !showResult">
      <p>
        Lograste {{ result }}% de respuestas correctas
      </p>

      <button class="button-d3" v-on:click="$store.commit('game/selectMode', 'menu')"  style="padding-bottom: 1em">
        Siguiente
      </button>
    </div>

  </div>
</template>

<script>
  import GameBaseProgressHeader from '~/components/GameBaseProgressHeader'

  export default {
    data() {
      return {
        // Questions config
        totalQuestions: 5,
        actualQuestion: 0,
        showSummary: false,
        usadas: [],
        candidate: {},
        options: [],
        showResult: false,
        userAnswer: 0,
        result: 0,
        exito: false
      }
    },
    props: {
      questions: {
        type: Array,
        require: true
      },
      candidates: {
        type: Array,
        require: true
      }
    },
    components: {
      'game-progress-header': GameBaseProgressHeader
    },
    watch: {
      actualQuestion: function () {
        // End of this game
        if (this.actualQuestion === this.totalQuestions) {
          this.result = this.userAnswer / this.totalQuestions * 100
          this.showSummary = true
        }
      }
    },
    mounted() {
      this.random();
    },
    computed: {
      plesidentes: function () {
        let candidatos = this.candidates;
        let retval = [];
        for (let i = 0; i < candidatos.length; i++) {
          if (!candidatos[i].Candidato || candidatos[i].Candidato == 'presidente' || candidatos[i].Candidato == 'Presidente')
            retval.push(candidatos[i]);
        }
        return retval;
      },
      indexedquestions: function () {
        let allquestions = {};
        for (let q = 0; q < this.questions.length; q++) {
          if (this.questions[q].pindex)
            allquestions[this.questions[q].pindex] = this.questions[q];
          else {
            console.log('Sin pindex ' + this.questions[q]);
            allquestions[this.questions[q].originalIndex] = this.questions[q];
          }
        }
        return allquestions;
      }
    },
    methods: {
      random: function (i) {
        /*
          Get a random question and candidate
        */
        let randCan = Math.floor(Math.random() * this.plesidentes.length);
        //let randQuest = Math.floor(Math.random()*this.questions.length);
        let keys = [];
        for (var key in this.indexedquestions) {
          keys.push(key);
        }

        let rkey = Math.floor(Math.random() * keys.length);
        let randQuest = keys[rkey];

        if (!this.usadas.includes(parseInt(this.indexedquestions[randQuest].pindex)) && this.plesidentes[randCan].long_answer[this.indexedquestions[randQuest].pindex]) {
          this.candidate = this.plesidentes[randCan]
          this.candidate.name = this.plesidentes[randCan].full_name;
          this.candidate.answer = this.plesidentes[randCan].long_answer[this.indexedquestions[randQuest].pindex];
          this.candidate.question = this.indexedquestions[randQuest].question;

          let presidentesclone = _.cloneDeep(this.plesidentes)
          let options1 = presidentesclone.map(d => {
            //console.log ('|||'+(d.long_answer[this.questions[randQuest].pindex] ? d.long_answer[this.questions[randQuest].pindex].replace(/\s+/g, ' ').replace(/^\s+/g,'').replace(/\s+$/g, '') : '' )+ ' <-- ' +d.long_answer[this.questions[randQuest].pindex]);
            if (!d.long_answer[this.indexedquestions[randQuest].pindex])
              console.log(d);

            d.name = d.full_name;
              d.answer = d.long_answer[this.indexedquestions[randQuest].pindex] ? d.long_answer[this.indexedquestions[randQuest].pindex].replace(/\s+/g, ' ').replace(/^\s+/g, '').replace(/\s+$/g, '') : '';
              d.style = {};
              d.photo = '/hide.png';
              d.real_photo = d.photo;
            return d
          });

          // Filter empty answers
          //this.options = options1.filter(d => d.answer !== '');
          this.options = _.uniqBy(options1.filter(d => d.answer !== '').filter(d => !!d.answer).filter(d => d.answer !== this.candidate.answer || d.full_name === this.candidate.full_name), 'answer');
          // console.log(this.candidate.answer)
          // this.options.forEach((d) => console.log(d.answer))
          if (this.options.length < 1) {
            console.log("opciones " + (i ? i : 'reinit'))
            if  (i < 5)  this.random(i++);
            else if ( !i)  this.random(1);
          }
          else {
            this.usadas.push(parseInt(this.indexedquestions[randQuest].pindex));
          }
        } else {
          // console.log(this.questions, keys, rkey, randQuest);
          this.random(i++);
        }


      },
      selectOption: function (candidate, i) {
        /*
          When the user select an option, check if is correct
        */
        this.options[i].photo = this.options[i].real_photo;

        if (candidate === this.candidate.name) {
          this.userAnswer++;
          this.exito = true
          this.options[i].style = {border: '5px solid green'}
        } else {
          this.exito = false
          this.options[i].style = {border: '5px solid red'}
        }
        this.showResult = true;
        /*
              setTimeout(() => {
                this.random();
                this.actualQuestion ++
              }, 1000)*/
      },
      siguiente: function () {
        //setTimeout(() => {
        this.showResult = false;
        //}, 300);
        this.random();
        this.actualQuestion++;
      }
    }
  }
</script>

<style scoped>
  .cname {
    font-family: Chivo-Bold;
  }

  .canswer {
    font-family: Chivo-Italic;
  }

  .cquestion {
    font-family: Chivo-Regular;
  }

  .question {
    /* margin-bottom: 35px; */
    padding: 0.3em;
  }

  .question img {
    height: 10vh;
    float: left;
  }

  .question .text {
    margin-left: 13vh;
  }

  .options {
    max-height: 57vh;
    overflow-y: auto;
    padding-left: 10px;
  }

  .option {
    margin-top: 10px;
    margin-right: 1vh;
    min-height: 13vh;
    background-color: #3A113B;
  }

  .option.button-d3 {
    box-shadow: -6px 6px 0px #2A142A;
  }

  .option.button-d3:hover {
    box-shadow: -3px 3px 0px #2A142A;
  }

  .option img {
    height: 7vh;
    float: left;
    margin: 20px;
  }

  .option p {
    margin: 20px;
    font-size: 0.9rem;
  }

  .dd {
    margin-top: 40vh;
  }

  .resultado {
    margin-right: 5vw;
    margin-left: 5vw;
  }

  .cfoto {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 18vh;
  }
</style>
