<template>
  <div>

    <game-nav-bar>
      <game-progress-header

            v-if="!showSummary"
            :totalQuestions="totalQuestions" :actualQuestion="actualQuestion">
      </game-progress-header>
    </game-nav-bar>

    <!-- Game cards -->
    <div v-if="!showSummary" class="fake-container">

      <div v-for="i in (5 - actualQuestion)"
           :key="i"
           :data-i="i"
           :data-aq="actualQuestion"
           v-bind:style="cardStyle(i)"
           :class="i === 1 ? swipeClass : ''"
      >
        <img  v-if="i === 1 && !verificacion"
              class="fake-img"
              v-hammer:swipe="swipe"
              v-hammer:pan="pinch"
              v-hammer:pinch="pinch"
              v-hammer:panend="pinch"
              v-hammer:pinchend="pinch"
              :src="getFakeUrl(questions[actualQuestion].imagen)"
        />
        <img  v-if="i === 1 && verificacion"
              class="fake-img"
              v-hammer:pan="pinch"
              v-hammer:pinch="pinch"
              v-hammer:panend="pinch"
              v-hammer:pinchend="pinch"
              :src="verificacion"
        />
      </div>

    </div>
    <footer v-if="!showSummary && !verificacion" class="fake-footer">
      <button v-on:click="swipe({deltaX: -10})" style="float: left;" class="button-f">&#9668; Falso</button>
      <button v-on:click="swipe({deltaX: 10})" style="float: right;" class="button-v">Verdad &#9658;</button>
    </footer>
    <footer v-if="verificacion && !showSummary" class="fake-footer">
      <button v-on:click="tap()" style="margin: auto 0; border-radius: 10%; background-color: #e0e9eb">  Siguiente! </button>
    </footer>
    <!-- Game summary -->
    <game-partial-result v-if="showSummary" :results="results"></game-partial-result>

  </div>
</template>

<script>
import { calculateSimilarity } from '~/assets/common'

import GameNavBar from '~/components/GameBaseNavBarNuevo'
import GameProgressHeader from '~/components/GameBaseProgressHeaderNuevo'
import GamePartialResult from '~/components/GameBasePartialResult'

export default {
  data () {
    return {
      // Questions config
      totalQuestions: 5,
      actualQuestion: 0,
      showSummary: false,

      userAnswer: [],
      results: [],
      verificacion: '',
      swipeClass: ''
    }
  },
  props: {
    questions: {
      type: Array,
      require: true
    },
    candidates: {
      type: Array,
      require: true
    }
  },
  components: {
    GameProgressHeader,
    GamePartialResult,
    GameNavBar
  },
  watch: {
    questions: function () {
      this.totalQuestions = questions.length;
    },
    actualQuestion: function () {
      // End of this game
      if (this.actualQuestion === this.totalQuestions) {
        this.showSummary = true;
       // this.results = calculateSimilarity(this.candidates, this.userAnswer)
      }
    }
  },
  methods: {
    getFakeUrl: function (img) {
      console.log('/fimgs/'+encodeURIComponent(img));
      //return { 'background-image': '/fimgs/'+encodeURIComponent(img) }
      return '/fimgs/'+encodeURIComponent(img);
    },
    cardStyle: function (i) {
      //
      i--
      let stepAlpha = 1/this.questions.length

      if (i === 0) return {}
      return {
      //'transform': `perspective(500px) translate3d(0px, ${i*30}px, ${-i*30}px)`,
      //'background-color': `rgba(255, 168, 0, ${(this.questions.length - i)*stepAlpha})`,
      'z-index': 100 - i
      }
    },
    swipe1: function (event) {
      console.log(event)
      // Swipe the card left or right
      if (event.deltaX > 0) {
        this.userAnswer.push(0)
        this.swipeClass = 'slideRightOut'
      } else if (event.deltaX < 0) {
        this.userAnswer.push(2)
        this.swipeClass = 'slideLeftOut'
      }

      setTimeout(() => { this.swipeClass = ''; this.actualQuestion ++ }, 250)
    },
    swipe: function (event) {
      if (!this.verificacion) {
        // Swipe the card left or right
        if (event.deltaX > 0) {
          this.userAnswer.push(0);
          this.swipeClass = 'slideRightOut'
        } else if (event.deltaX < 0) {
          this.userAnswer.push(2);
          this.swipeClass = 'slideLeftOut'
        }

        setTimeout(() => {
                this.verificacion = '/fimgs/verificacion/' + encodeURIComponent(this.questions[this.actualQuestion].verificacion);
                this.swipeClass = 'slideTopIn';
                //this.actualQuestion ++
              },
              250)
      }
    },
    pinch: function(ev) {
      let posX = 0,
            posY = 0,
            scale = 1,
            last_scale = 1,
            last_posX = 0,
            last_posY = 0,
            max_pos_x = 0,
            max_pos_y = 0,
            transform = "";

      if (ev.type == "doubletap") {
        transform =
              "translate3d(0, 0, 0) " +
              "scale3d(2, 2, 1) ";
        scale = 2;
        last_scale = 2;
        try {
          if (window.getComputedStyle(el, null).getPropertyValue('-webkit-transform').toString() != "matrix(1, 0, 0, 1, 0, 0)") {
            transform =
                  "translate3d(0, 0, 0) " +
                  "scale3d(1, 1, 1) ";
            scale = 1;
            last_scale = 1;
          }
        } catch (err) {}
        el.style.webkitTransform = transform;
        transform = "";
      }

      //pan
      if (scale != 1) {
        posX = last_posX + ev.deltaX;
        posY = last_posY + ev.deltaY;
        max_pos_x = Math.ceil((scale - 1) * el.clientWidth / 2);
        max_pos_y = Math.ceil((scale - 1) * el.clientHeight / 2);
        if (posX > max_pos_x) {
          posX = max_pos_x;
        }
        if (posX < -max_pos_x) {
          posX = -max_pos_x;
        }
        if (posY > max_pos_y) {
          posY = max_pos_y;
        }
        if (posY < -max_pos_y) {
          posY = -max_pos_y;
        }
      }


      //pinch
      if (ev.type == "pinch") {
        scale = Math.max(.999, Math.min(last_scale * (ev.scale), 4));
      }
      if(ev.type == "pinchend"){last_scale = scale;}

      //panend
      if(ev.type == "panend"){
        last_posX = posX < max_pos_x ? posX : max_pos_x;
        last_posY = posY < max_pos_y ? posY : max_pos_y;
      }

      if (scale != 1) {
        transform =
              "translate3d(" + posX + "px," + posY + "px, 0) " +
              "scale3d(" + scale + ", " + scale + ", 1)";
      }

      if (transform) {
        ev.target.style.webkitTransform = transform;
      }
    },
    siguientePregunta: function () {
      setTimeout(() => {
        this.actualQuestion++;
      }, 250);
      setTimeout(() => {
        this.swipeClass = '';
        this.verificacion = false;
      }, 500);
    },
    tap: function () {
      let vm = this;
      if (this.verificacion) {
        if (this.userAnswer[this.userAnswer.length - 1]) {
          this.swipeClass = 'slideLeftOut';
          vm.siguientePregunta();
        }
        else {
          this.swipeClass = 'slideRightOut';
          vm.siguientePregunta();
        }
      }
    }
  }
}
</script>
<style scoped>

.fake-footer {
    display: inline-block;
    width: 100%;
  }

.fake-container {
	text-align: center;
	/*width: 85vw;*/
    /*margin: 0 auto;*/
  padding: 5% 5%;
  vertical-align: middle;
  border-radius: 5vw;
  background-color: white;
  /*
  height: 55vh;
  */
}

.fake-container .card1 {
  width: 100%;


  position: absolute;
  color: white;

  font-size: 1.3rem;
  line-height: 1.5rem;

  /*display: table;*/
}

.fake-container img:nth-child(1) {
  z-index: 100;
}

.fake-container .card span {
  display: table-cell;
  vertical-align: middle;
}

.fake-img {
  height: 45vh;
  max-width: 100%;
  border-radius: 8%;
  min-height: 100%;
  /*padding: 10px .5em;*/
  min-width: 100%;
}

img {
  min-width: 100%;
  max-width: 100%;
}


footer button {
  padding-top: 5vh;
  cursor: pointer;

  background-color: black;
	border: none;
	font-size: 2.5rem;
}

  .button-v {
  color: #09eb2e
}
  .button-f {
    color: #eb3e3f
  }
/*
footer button:last-child {
  float: right;
}
*/
  @media (max-width: 450px) {
    #game {
      position: fixed;
      z-index: 2;
    }
  }

  .content {
    position: relative;
    padding-top: 13vh;
  }

  @media (min-width: 450px) {
    .content {
      height: 90vh;
      width: 90vw;
      max-width: 550px;
      min-height: 600px;
      padding-top: 150px;
      /*padding: 20px 20px 20px 20px;*/
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 2em;
    }
  }
</style>
