<template>
  <div>
    <!-- Game header -->
    <game-progress-header v-if="!showSummary" title="Prode"
      :totalQuestions="totalQuestions" :actualQuestion="actualQuestion"></game-progress-header>

    <!-- Game -->
    <div class="options">
      <div v-for="option in options" class="option button-d3">
        <p v-html="option"></p>
      </div>
    </div>

  </div>
</template>

<script>
import GameBaseProgressHeader from '~/components/GameBaseProgressHeader'

export default {
  data () {
    return {
      // Questions config
      totalQuestions: 5,
      actualQuestion: 0,
      showSummary: false,

      options: ['SI', 'Si,<br /> solo en<br /> casos...',
      'No,<br /> pero si tal<br /> o cual<br /> cosa', 'No'],

      userAnswer: [],
      result: 0
    }
  },
  props: {
    questions: {
      type: Array,
      require: true
    },
    candidates: {
      type: Array,
      require: true
    }
  },
  components: {
    'game-progress-header': GameBaseProgressHeader
  },
  watch: {
    actualQuestion: function () {
      // End of this game
      if (this.actualQuestion === this.totalQuestions) {
        this.showSummary = true
      }
    }
  }
}
</script>

<style scoped>
.option {
  position: relative;
  height: 27vh;
  width: 46%;
  min-height: 15vh;
  margin: 2%;
  float: left;
  background-color: #3A113B;
}

.option.button-d3 {
  box-shadow: -6px 6px 0px #2A142A;
}

.option.button-d3:hover {
  box-shadow: -3px 3px 0px #2A142A;
}

div.option p {
  position: absolute;
  font-size: 20px;
  margin: 22px;
}

div.option:nth-child(1) p {
  top: 0px;
  left: 0px;
  text-align: left;
}

div.option:nth-child(2) p {
  top: 0px;
  right: 0px;
  text-align: right;
}

div.option:nth-child(3) p {
  bottom: 0px;
  left: 0px;
  text-align: left;
}

div.option:nth-child(4) p {
  bottom: 0px;
  right: 0px;
  text-align: right;
}
</style>
