<template>
  <div class="game-menu hero">

    <div class="hero-body" style="display: block; padding-top: 15vh">
      <!-- modo fakes -->
      <div class="game-btn button-d3 has-text-centered is-fullwidth" @click="onClickMode('fakenews')" v-if="yqs.election.games && yqs.election.games.includes('fakenews')">
        <div class="double-title">
          <span class="menu-subtitle">modo "fakenews"</span><br>
          <span class="menu-title">Verdadero / Falso</span>
        </div>

        <div class="game-stars-container">
          <img src="~/assets/game/star.png" />
          <img src="~/assets/game/star.png" />
          <img src="~/assets/game/star.png" />
        </div>
      </div>

      <!-- modo casual -->

      <div class="game-btn button-d3 has-text-centered" @click="onClickMode('casual')" v-if="yqs.hasGame('casual')">
        <div class="single-title">

          <span class="menu-title">SI / NO</span>
        </div>

        <div class="game-stars-container"  style="display: none">
          <img src="~/assets/game/star.png" />
          <img src="~/assets/game/star.png" />
          <img src="~/assets/game/star.png" />
        </div>
      </div>


      <!-- modo normal -->
      <div class="game-btn button-d3 has-text-centered" @click="onClickMode('normal')"  v-if="yqs.hasGame('normal')">
        <div class="single-title">
          <!-- <span class="menu-subtitle">modo "normal"</span><br> -->
          <span class="menu-title">SABER MÁS</span>
        </div>

        <div class="game-stars-container"  style="display: none">
          <img src="~/assets/game/star.png" />
          <img src="~/assets/game/star.png" />
          <img src="~/assets/game/star.png" />
        </div>
      </div>

      <!-- que opina -->
      <div class="game-btn button-d3  has-text-centered" @click="onClickMode('opinion')" v-if="yqs.hasGame('opinion')">
        <div class="single-title">
          <span class="menu-title">¿QUÉ OPINA...?</span>
        </div>

        <div class="game-stars-container"  style="display: none">
          <img src="~/assets/game/star.png" />
          <img src="~/assets/game/star.png" />
          <img src="~/assets/game/star.png" />
        </div>
      </div>

      <!-- quien dijo
      <div class="game-btn button-d3 has-text-centered" @click="onClickMode('howSaid')" v-if="yqs.hasGame('howSaid')">
        <div class="single-title">
          <span class="menu-title">¿QUIÉN DIJO...?</span>
        </div>

        <div class="game-stars-container" style="display: none">
          <img src="~/assets/game/star.png" />
          <img src="~/assets/game/star.png" />
          <img src="~/assets/game/star.png" />
        </div>
      </div> -->

      <!-- Prode -->
      <!--
      <div class="game-btn button-d3 disabled" v-if="yqs.hasGame('prode')">
        <div class="single-title">
          <span class="menu-title">PRODE</span>
        </div>

        <div class="game-stars-container">
          <img src="~/assets/game/star.png" />
          <img src="~/assets/game/star.png" />
          <img src="~/assets/game/star.png" />
        </div>
      </div>
  -->
    </div>

  </div>
</template>

<script>
export default {
  props: {
    yqs: {
      type: Object,
      require: false
    }
  },
  methods: {
   onClickMode (mode) {
     this.$store.commit('game/selectMode', mode)
   }
 }
}
</script>

<style scoped>
  .hero-body {
    display: block;
  }
  .hero-body > .game-btn {
    min-width: -webkit-fill-available ;
    display: block;
  }
.game-menu {
  width: 95%;
  padding-top: 20px;
  margin-left: 2.5%;
}

.game-btn {
	height: 13vh;
	margin-bottom: 2vh;
	background-color: #3A113B;
	color: white;
	font-weight: 400;
  border-radius: 1em;
  cursor: pointer;
}

.game-btn.button-d3 {
  font-size: 1rem;
  box-shadow: -6px 6px 0px #2A142A;
}

.game-btn.button-d3:hover {
  box-shadow: -3px 3px 0px #2A142A;
}

.game-btn div {
  display: inline-block;
}

.single-title {
  margin-left: 1.5rem;
  margin-top: 3vh;
}

.double-title {
  margin-left: 1.5rem;
  margin-top: 1vh;
}

.menu-title {
	font-size: 2.7vh;
}

.menu-subtitle {
	font-size: 1.9vh;
}

.game-stars-container {
	margin-top: 2.7vh;
	margin-right: 1.5rem;
	float: right;
  font-size:3.5vh;
}

.game-stars-container img {
	width:3vh;
}

.disabled {
  cursor: not-allowed;
}

/* Footer */
footer {
  margin-top: 1.5rem;
}

footer button {
  width: 75%;
  padding: 5%;
  margin: 4px;
  height: 80px;
  border-radius: 1rem;
  border-color: #0000008c;
}

/* Border color */
footer div.column:nth-child(1) > button {
  background-color: #EF2676;
}

footer div.column:nth-child(2) > button {
  background-color: #F9C728;
  box-shadow: -6px 6px 0px #C29B1F;
}

footer div.column:nth-child(2) > button:hover {
  box-shadow: -3px 3px 0px #C29B1F;
}

footer div.column:nth-child(3) > button {
  background-color: #752a76;
  box-shadow: -6px 6px 0px #562257;
}

footer div.column:nth-child(3) > button:hover {
  box-shadow: -3px 3px 0px #562257;
}

/* Disable the buttons */
footer div.column:nth-child(1) > button[disabled] {
  top: 3px;
  left: -3px;
  background-color: #B46383;
  box-shadow: -3px 3px 0px #B46383;
}

footer div.column:nth-child(1) > button[disabled]:hover {
  cursor: not-allowed;
}

footer div.column:nth-child(2) > button[disabled] {
  top: 3px;
  left: -3px;
  background-color: #B6A367;
  box-shadow: -3px 3px 0px #B6A367;
}

footer div.column:nth-child(2) > button[disabled]:hover {
  cursor: not-allowed;
}

footer div.column:nth-child(3) > button[disabled] {
  top: 3px;
  left: -3px;
  background-color: #7c5f7d;
  box-shadow: -3px 3px 0px #7c5f7d;
}

footer div.column:nth-child(3) > button[disabled]:hover {
  cursor: not-allowed;
}
</style>
