<template>
  <div>
    <!-- Game header -->
    <game-progress-header v-if="!showSummary" title="¿Quien Dijo..."
      :totalQuestions="totalQuestions" :actualQuestion="actualQuestion"></game-progress-header>

    <!-- Game -->
    <div v-if="!showSummary && !showResult" class="question">
      <p class="cquestion">{{ question.text }}</p>
    </div>

    <div v-if="!showSummary && !showResult" class="candidates">
      <div v-for="(candidate, i) in options" class="candidate button-d3 has-text-centered"
        :style="candidate.style"
        v-on:click="selectOption(candidate, i)">
        <img :src="candidate.photo" />
        <p class="cname">{{ candidate.name.replace(/-/g, ' ') }}</p>
      </div>
    </div>

    <div v-if="showResult" class="has-text-centered resultado" :style="{border: exito ? '5px solid green' : '5px solid red' }" style="margin: 1em; padding: 1em; border-radius: 1em">
      <img :src="this.plesidentes[question.candidate].photo" class="cfoto"/>
      <p class="cname">{{ this.plesidentes[question.candidate].full_name.replace(/-/g, ' ') }}</p>
      <p class="canswer">
        {{ question.text }}
      </p>

      <button v-on:click="siguiente()" class="button-d3">
        Siguiente
      </button>
    </div>

    <!-- Summary -->
    <div v-if="showSummary && !showResult" class="has-text-centered dd">
      <p>
        Lograste {{ result }}% de respuestas correctas
      </p>

      <button v-on:click="$store.commit('game/selectMode', 'menu')" class="button-d3">
        Siguiente
      </button>
    </div>

  </div>
</template>

<script>
import GameBaseProgressHeader from '~/components/GameBaseProgressHeader'

export default {
  data () {
    return {
      // Questions config
      exito: false,
      totalQuestions: 5,
      actualQuestion: 0,
      showSummary: false,
      showResult: false,
      options: [],
      question: { index: -1, text:'' },
      usadas: [],
      userAnswer: 0,
      result: 0
    }
  },
  props: {
    questions: {
      type: Array,
      require: true
    },
    candidates: {
      type: Array,
      require: true
    }
  },
  components: {
    'game-progress-header': GameBaseProgressHeader
  },
  computed: {
    plesidentes: function () {
      let candidatos = this.candidates;
      let retval = [];
      for (let i = 0; i < candidatos.length; i++) {
        if (!candidatos[i].Candidato || candidatos[i].Candidato == 'presidente' || candidatos[i].Candidato == 'Presidente')
          retval.push(candidatos[i]);
      }
      return retval;
    }
  },
  watch: {
    actualQuestion: function () {
      // End of this game
      if (this.actualQuestion === this.totalQuestions) {
        this.result = this.userAnswer / this.totalQuestions * 100;
        this.showSummary = true;
      }
    }
  },
  mounted () {
    this.random()
  },
  methods: {
    random: function () {
      let cnt = 0;
      let isEmpty = true;
      let question;

      while (isEmpty) {
        let randCan = Math.floor(Math.random()*this.plesidentes.length);
        let randQuest = Math.floor(Math.random()*this.questions.length);

        question = {
          pindex: this.questions[randQuest].pindex,
          index: randQuest,
          candidate: randCan,
          how: this.plesidentes[randCan].full_name,
          text: this.plesidentes[randCan].long_answer[this.questions[randQuest].pindex]
        };

        // Filter empty question
        if (!this.usadas.includes(parseInt(this.questions[randQuest].pindex)) && (question.text !== '') && question.text) {
          this.usadas.push(parseInt(this.questions[randQuest].pindex));
          isEmpty = false;
        }
        else isEmpty = true;
        if (cnt >= 100) isEmpty = false;

        cnt++
      }

      this.question = question;
      this.resetOptions();
    },
    resetOptions: function () {
      // Reset the styles
      this.options = this.plesidentes.map(d => {
       /* return {

          name: d.full_name,
          photo: d.photo,
          style: {}
        } */
        d.name = d.full_name;
        return d
      })
    },
    selectOption: function (candidate, i) {
      // console.log(candidate)
      if ((candidate.name === this.question.how) || (candidate.long_answer[this.question.pindex] == this.question.how)) {
        this.userAnswer ++;
        this.exito = true;
       // this.options[i].style = { border: '5px solid green' }
      }
      else {
        this.exito = false;
       // this.options[i].style = { border: '5px solid red' }
      }
      this.showResult = true;
      this.alert(this.exito)
     /* setTimeout(() => {
        this.random();
        this.actualQuestion ++;
      }, 1000)*/
    },
    siguiente: function () {
      //setTimeout(() => {
      this.showResult = false;
      this.modalup = true;
      //}, 300);
      this.random();
      this.actualQuestion ++;
    },
    alert(ok) {
      this.$buefy.dialog.alert({
        // title: 'Error',
        message: ok ? 'Correcto!' : 'Incorrecto!',
        confirmText: 'Cerrar',
        type: ok ? 'is-success' : 'is-danger',
        hasIcon: true,
        icon: 'times-circle',
        iconPack: 'fa',
        ariaRole: 'dialog',
        ariaModal: true
      })
    }
  }
}
</script>

<style scoped>

  .cname {
    font-family: Chivo-Bold;
  }
  .canswer {
    /* font-family: Chivo-Italic; */
    font-family: 'Chivo';
  }

  .cquestion {
    font-family: Chivo-Regular;
  }

.question {
  text-align: center;
  font-family: Chivo-Regular;
}

.candidates {
  overflow-y: auto;
  height: 62vh;
  position: relative;
}

.candidate {
  width: 46%;
  height: 25vh;
  margin: 2%;
  float: left;
  background-color: #3A113B;
}

@media (min-width: 768px) {
  .candidate {
    height: 15vh;
  }
}

.candidate.button-d3 {
  box-shadow: -6px 6px 0px #2A142A;
}

.candidate.button-d3:hover {
  box-shadow: -3px 3px 0px #2A142A;
}

.candidate img {
  width: 9vh;
}

.candidate p {
  font-size: 0.85rem;
  font-family: Chivo-Bold;
}

.dd {
  margin-top: 40vh;
}

.resultado {
  margin-right: 5vw;
  margin-left: 5vw;
}
  .cfoto  {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
    width: 18vh;
  }
</style>
