<template>
  <div class="summary">
    <header class="has-text-centered">
      <h2>Resultados</h2>
    </header>

    <div v-for='candidate in results' :key="candidate.id" class="candidate">
      <div class="summary-img">
        <nuxt-link
          :to="localePath({ name: 'country-election-candidate-name', params: { 'country': country, 'election': election, 'name': candidate.name } })"
          class1="button is-small boton-bio"
        >
        <img :src="candidate.photo" :style="{width: `${imgScale(+candidate.similarity)}vw`}" style="border-radius: 1em"/>
        </nuxt-link>
      </div>

      <div class="summary-text">
        <span class="title is-4">{{ f(candidate.similarity) }} %</span>
        <span class="title is-5">{{ candidate.name.replace(/-/g, ' ') }}</span>
      </div>
    </div>

    <footer class="has-text-centered" style="padding-top: 1em">
      <button v-on:click="$store.commit('game/selectMode', 'menu')" class="button-d3">
        Siguiente
      </button>
      <!--<div class="fb-share-button" :data-href="'https://www.yovotoinformado/'+$route.params.country" data-layout="button_count" data-size="large">
        <! class="button social-icon facebook" :href="'https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.yovotoinformado.org%2F'+$route.params.country+'&amp;src=sdkpreparse'">
          <fa :icon="['fab', 'facebook-f']" />
        </a>

        <a class="button social-icon twitter twitter-share-button" href="https://twitter.com/intent/tweet" rel="canonical">
          <fa :icon="['fab', 'twitter']" />
        </a>
      </div>-->
    </footer>
  </div>
</template>

<script>
import { format, scaleLinear } from 'd3'

export default {
  data () {
    return {
      imgScale: null,
      f: format('d')
    }
  },
  props: {
    results: {
      type: Array,
      required: true
    }
  },
  created () {
    let range = window.innerWidth < 700 ? [25, 16] : [11, 8]

    console.log(this.results)
    this.imgScale = scaleLinear()
      .domain([+this.results[0].similarity, +this.results[this.results.length - 1].similarity])
      .range(range)
      // .range([25, 16])
      // .range([11, 8])
    console.log(this.country, this.election)
  },
  computed: {
    country() {return this.$route.params.country},
    election() {return this.$route.params.election}
  }
}
</script>

<style scoped>
header h2 {
  color: white;
}

.summary {
  overflow-y: auto;
  height: 90vh;
}

.candidate {
  text-align: center;
  width: 100%;
  display: flex;
  margin-bottom: 3vh;
  margin-top: 16px;
}

.candidate .summary-img {
  float: left;
  width: 40%;
  text-align: right;
}

.candidate .summary-img img {
  width: 11vw;
}

.candidate .summary-text {
  float: right;
  width: 50%;
  text-align: left;
  padding-top: 6px;
  padding-left: 20px;
}

.candidate .summary-text span {
  display: inherit;
}

.title.is-4 {
  margin: 0;
}

footer {
  margin-bottom: 20px;
}

</style>
