<template>
  <!-- Game header -->
  <header class="game-header has-text-centered col-8-sm">
    <ul class="navigator">
      <span v-for="i in totalQuestions"
        :class="actualQuestion >= (i - 1) ? 'dots done' : 'dots'"></span>
    </ul>

    <p class="title is-5" v-if="title">{{ title }}</p>
  </header>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      require: true
    },
    totalQuestions: {
      type: Number,
      require: true
    },
    actualQuestion: {
      type: Number,
      require: true
    }
  }
}
</script>

<style scoped>
header {
  margin-bottom: 1rem;
}

header ul {
	list-style: none;
	padding: 0px;
	margin: 8px 0px 0px 0px !important;
}

header .dots {
	display: inline-block;
	width: 1vh;
	height: 1vh;
	border-radius: 50%;
    margin-left: 0.2vh;
	margin-right: 0.2vh;
	background-color: white;
	vertical-align: middle;
}

header .dots.done {
	background-color: #706E6E;
}

p {
  color: #915792;
}
</style>
