<template>
  <div>
    <!-- Game header -->
    <game-progress-header v-if="!showSummary" title="normal"
      :totalQuestions="totalQuestions" :actualQuestion="actualQuestion"></game-progress-header>

    <!-- Game -->
    <div v-if="!showSummary">
      <p class="title is-5 has-text-centered">{{ questions[actualQuestion].question }}</p>

      <div v-for="(option, i) in arrayOptions" class="normal-btn button-d3"
        v-on:click="selectOption(i)">
        <p>
          {{ option }}
        </p>
      </div>
    </div>

    <!-- Game summary -->
    <game-partial-result v-if="showSummary" :results="results"></game-partial-result>

  </div>
</template>

<script>
import { calculateSimilarity_nuevo } from '~/assets/common'

import GameBaseProgressHeader from '~/components/GameBaseProgressHeader'
import GameBasePartialResult from '~/components/GameBasePartialResult'

export default {
  data () {
    return {
      // Questions config
      totalQuestions: 5,
      actualQuestion: 0,
      showSummary: false,
      respuestas: [],
      userAnswer: [],
      results: []
    }
  },
  props: {
    questions: {
      type: Array,
      require: true
    },
    candidates: {
      type: Array,
      require: true
    }
  },
  components: {
    'game-progress-header': GameBaseProgressHeader,
    'game-partial-result': GameBasePartialResult
  },
  watch: {
    actualQuestion: function () {
      // End of this game
      if (this.actualQuestion === this.totalQuestions) {
        this.showSummary = true
        this.results = calculateSimilarity_nuevo(this.candidates, this.userAnswer, this.respuestas, this.questions)
      }
    }
  },
  computed: {
    arrayOptions: function () {
      let q = this.questions[this.actualQuestion]
      return [q.yes, q.yes_but, q.no, q.no_but]
    },
  },
  methods: {
    selectOption: function (i) {
      this.userAnswer.push(i);
      this.respuestas.push(
          {
            pindex: this.questions[this.actualQuestion].pindex,
            rta: i,
            question: this.questions[this.actualQuestion]
          });
      this.actualQuestion ++;
    }
  }
}
</script>

<style>
.normal-btn {
  width: 46%;
  margin: 2%;
  float: left;
  min-height: 25vh;
  text-align: center;
  background-color: #3A113B;

  vertical-align: middle;
  display: table-caption;
  height: 30vh;
}

.normal-btn.button-d3 {
  box-shadow: -6px 6px 0px #2A142A;
  padding: 0.8rem 1rem;
}

.normal-btn.button-d3:hover {
  box-shadow: -3px 3px 0px #2A142A;
  padding: 0.8rem 1rem;
}

.normal-btn p {
  font-size: 1rem;

  display: table-cell;
  vertical-align: middle;
}
</style>
