<template>
  <div id="mainfake" >
    <!-- Game header -->
    <game-progress-header v-if="!showSummary" title=""
                          :totalQuestions="totalQuestions" :actualQuestion="actualQuestion">
    </game-progress-header>
    <!-- Game cards -->
    <div v-if="!showSummary" class="fake-container">
      <div v-for="i in (totalQuestions - actualQuestion)"
           :key="i" class="cardcontainer" :id="i === 1 ? 'imgcontainer' : ''"
           v-bind:style="cardStyle(i)"
           :class="i === 1 ? swipeClass : ''"
      >
        <img v-if="i === 1 && !verificacion && !resultado"
             class="fake-img"
             :src="getFakeUrl(questions[actualQuestion].imagen)"
             v-hammer:swipe="swipe"
             v-hammer:pan.horizontal="onPan"
             v-hammer:panend="onPan"
             v-hammer:panstart="onPan"
        />
        <img v-if="i === 1 && verificacion && !resultado"
             class="fake-img"
             :src="verificacion"
        />
        <div v-if="i === 1 && resultado && !verificacion"
             class="fake-img resultado has-text-centered has-text-black"
        >
          <div style="width: 100%">
            <div class="columns is-vcentered is-centered">
              <div class="column" style="font-size: xx-large;font-weight: bold; font-family: Cubano-Regular-wf;">
                <div v-if="!lechingo" class="has-text-success">CORRECTO</div>
                <div v-if="lechingo" class="has-text-danger">INCORRECTO!</div>
              </div>
            </div>
            <div class="columns is-vcentered is-centered is-mobile r-lg">
              <div class="column is-two-fifths ">
                <div class="columns is-centered" style="font-family: 'Brandon-Bold', cursive, sans-serif;">
                  <div class="column has-text-right has-text-right-mobile">
                    <img v-if="!lechingo" src="/fake/mano.png" style="width: 50px;">
                    <img v-if="lechingo" src="/fake/poo.png" style="width: 50px;">
                  </div>
                </div>
              </div>
              <div class="column is-tree-fifths">
                <div class="columns is-centered" style="font-family: 'Brandon-Bold', cursive, sans-serif;">
                  <div class="column has-text-left has-text-left-mobile is-narrow-mobile"
                       style="padding-top: 1rem;padding-bottom: 0.50rem;">
                    Esta noticia
                  </div>
                </div>
                <div class="columns is-centered" style="font-family: 'Brandon-Bold', cursive, sans-serif;">
                  <div class="column has-text-left has-text-left-mobile is-narrow-mobile"
                       style="padding-top: 0.50rem;padding-bottom: 1rem;">
                    es <span v-if="esfalso" class="button boton-verdad  is-danger">
                  falsa{{ lechingo ? '!' : '.'}}
              </span>
                    <span v-if="!esfalso" class="button boton-verdad is-success">
                   verdad{{ lechingo ? '!' : '.'}}
                 </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="columns is-vcentered is-centered is-mobile r-sm">
                  <div class="column is-centered is-narrow-mobile is-mobile">
                    Esta noticia
                    es
                    <span v-if="esfalso" class="button boton-verdad  is-danger">
                      falsa{{ lechingo ? '!' : '.'}}
                    </span>
                    <span v-if="!esfalso" class="button boton-verdad is-success">
                      verdad{{ lechingo ? '!' : '.'}}
                    </span>
                  </div>
            </div>
            <div class="columns is-vcentered is-centered">
              <div class="column is-vcentered is-centered texto-explicacion" v-if="explicacion">
                {{explicacion}}
              </div>
            </div>
            <div class="columns is-vcentered is-centered" style="font-family: 'Brandon-Bold', cursive, sans-serif;">
              <div class="column">
                <div v-on:click="mostrarVerificacion(!!userAnswer[userAnswer.length - 1])"
                     :style="{color: esfalso ? '#CE3939' :'#73BA61'}" style="cursor: zoom-in">
                  Ver <u>Fuente de verificacion!</u>
                </div>
              </div>
            </div>
          </div>

        </div>
        <img v-if="i !== 1"
             class="fake-img siguiente-img"
             :src="getFakeUrl(questions[actualQuestion].imagen)"
        />
      </div>
    </div>
    <game-partial-result v-if="showSummary" :results="results"></game-partial-result>
    <footer v-if="!showSummary && !verificacion && !resultado" class="fake-footer">
      <div class="columns is-mobile">
        <div class="column is-half">
          <figure v-on:click="swipe({deltaX: -10})" class="image reacbutton"
                  style="margin-left: auto;">
            <img class="is-rounded" src="/fake/cruz-boton.png">
          </figure>
        </div>
        <div class="column is-half">
          <figure v-on:click="swipe({deltaX: 10})" class="image reacbutton"
                  style="margin-right: auto;">
            <img class="is-rounded" src="/fake/corazon-boton.png">
          </figure>
        </div>
      </div>
    </footer>
    <footer v-if="(verificacion || resultado ) && !showSummary" class="siguientefooter">
      <a v-on:click="siguientePregunta()">
        <figure  class="image reacbutton"
                style="margin-left: auto;">
          <img class="is-rounded" src="/fake/flecha.png">
        </figure>
      </a>
    </footer>
    <footer v-if="showSummary" class="siguientefooter">

      <button v-on:click="reload()" class="button nuevobtn">
        Jugar de nuevo
      </button>
      <!--
      <a v-on:click="siguientePregunta()">

        <figure v-on:click="swipe({deltaX: -10})" class="image"
                style="margin-left: auto;">
          <img class="is-rounded" src="/fake/flecha.png">
        </figure>

      </a>-->
    </footer>
    <!-- Game summary -->
    <div class="nburger">
      <nuxt-link :to="localePath('index')">
        <span class="circulito" alt="Logo yo voto informado"></span>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
  import GameProgressHeader from '~/components/GameBaseProgressHeaderNuevo'
  import GamePartialResult from '~/components/GameFakePartialResult'

  export default {
    data() {
      return {
        // Questions config
        totalQuestions: 8,
        actualQuestion: 0,
        showSummary: false,
        resultado: false,
        lechingo: false,
        esfalso: false,
        userAnswer: [],
        results: [],
        verificacion: '',
        swipeClass: '',
        posX : 0,
        posY : 0,
        scale : 1,
        last_scale : 1,
        last_posX : 0,
        last_posY : 0,
        max_pos_x : 0,
        max_pos_y : 0,
        transform : "",
        startX: 0,
        startY: 0,
        panthreshold: 80,
        explicacion: false
      }
    },
    computed: {
      mainfake: function () {
        let retval =  {'background-color': '#6F2A83'};
        if (this.resultado) {
          if (this.lechingo) {
            retval['background-color'] = '#FF0071 !important;';
          }
          else {
            retval['background-color'] = '#00CCB9 !important;';
          }
        }
        return retval;
      },
      mainfakeclass: function () {
        let retval =  'backDefault';
        if (this.resultado) {
          if (this.lechingo) {
            retval = 'backFallo';
          }
          else {
            retval  = 'backExito';
          }
        }
        return retval;
      }
    },
    props: {
      questions: {
        type: Array,
        require: true
      },
      candidates: {
        type: Array,
        require: true
      }
    },
    components: {
      GameProgressHeader,
      GamePartialResult
    },
    watch: {
      verificacion: function () { this.updateBackgroud() },
      resultado:  function () { this.updateBackgroud() },
      showSummary: function () { this.updateBackgroud() },
      questions: function (questions) {
        this.totalQuestions = questions.length;
        this.$store.commit('game/settotalQuestions', questions.length)
      },
      actualQuestion: function () {
        // End of this game
        if (this.actualQuestion === this.totalQuestions) {
          this.showSummary = true;
          // this.results = calculateSimilarity(this.candidates, this.userAnswer)
        }
      },
    },
    methods: {
      reload: function () {
        location.reload()
      },
      updateBackgroud: function () {
        console.log('update backgroud');
        let nodos = document.getElementsByClassName('backgroundColor');
        for (let i = 0; i < nodos.length; i++) {
          const nodo = nodos[i];
           // console.log(nodo);
          nodo.classList.remove('backExito', 'backFallo', 'backDefault');
          nodo.classList.add(this.mainfakeclass);
        }
      },
      getFakeUrl: function (img) {
        console.log('/fimgs/' + encodeURIComponent(img));
        //return { 'background-image': '/fimgs/'+encodeURIComponent(img) }
        return '/fimgs/' + encodeURIComponent(img);
      },
      cardStyle: function (i) {
        //
        i--
        let stepAlpha = 1 / this.questions.length

        if (i === 0) return {}
        if (i <= 3) {
          return {
            'transform': `perspective(500px) translate3d(0px, ${i * 15}px, ${-i * 15}px)`,
            'background-color': `rgba(255, 255, 255, ${(this.questions.length - i) * stepAlpha})`,
            'z-index': 100 - (i > 3 ? 101 : i)
          }
        }
        else {
          return {
            'display': 'none'
          }
        }
      },
      procesaRespuesta: function () {
        this.esfalso = !!!this.questions[this.actualQuestion].verdad;
        this.results[this.actualQuestion] = {};
        this.results[this.actualQuestion].verdad = !!this.questions[this.actualQuestion].verdad;
        this.results[this.actualQuestion].lechingo = !!this.lechingo;

        setTimeout(() => {
                this.resultado = true;
                this.swipeClass = '';
              },
              250)
      },
      swipe: function (event) {
        let vm = this;
        console.log('Pregunta ' + this.actualQuestion + ' es ' + !!this.questions[this.actualQuestion].verdad + ' ' + this.questions[this.actualQuestion].verdad);
        if (!this.verificacion) {
          // Swipe the card left or right
          this.explicacion = this.questions[this.actualQuestion].explicacion ? this.questions[this.actualQuestion].explicacion : false;
          if (event.deltaX > 0) {
            this.userAnswer.push(0);
            this.swipeClass = 'slideRightOut';
            this.lechingo = !this.questions[this.actualQuestion].verdad;
          }
          else if (event.deltaX < 0) {
            this.userAnswer.push(2);
            this.swipeClass = 'slideLeftOut';
            this.lechingo = !!this.questions[this.actualQuestion].verdad;
          }

          vm.procesaRespuesta();

        }
      },
      mostrarVerificacion: function (ok) {
        if (ok)
          this.swipeClass = 'slideLeftOut';
        else
          this.swipeClass = 'slideRightOut';


        setTimeout(() => {
                this.resultado = false;
                this.verificacion = '/fimgs/verificacion/' + encodeURIComponent(this.questions[this.actualQuestion].verificacion);
                this.swipeClass = 'fadeIn';
              },
              250)
      },
      panstart: function (ev) {
        let vm = this;
        let container = document.getElementById('imgcontainer');
        vm.startX = ev.pageX;
        vm.startY = ev.pageY;
      },
      resetSlide: function (container) {
        setTimeout(function() {
          container.classList.remove("to-left");
          container.classList.remove("to-right");
          container.style.transform = '';
          container.style.transform = null;
        }, 300);
      },
      panend: function (ev) {
        let vm = this;
        let container = document.getElementById('imgcontainer');
        console.log(vm.scale+' '+vm.last_posX+' '+vm.posX+' '+ev.deltaX);
        if ((vm.posX > vm.panthreshold) || (vm.posX < -vm.panthreshold)) {
          if (vm.posX > vm.panthreshold) {
            console.log('to-right');
            container.classList.add('to-right');
            vm.userAnswer.push(0);
            vm.swipeClass = 'slideRightOut';
            vm.lechingo = !this.questions[this.actualQuestion].verdad;
          }
          else {
            if (vm.posX < -vm.panthreshold) {
              console.log('to-left');
              container.classList.add('to-left');
              vm.userAnswer.push(2);
              vm.swipeClass = 'slideLeftOut';
              vm.lechingo = !!this.questions[this.actualQuestion].verdad;
            }
          }
          vm.resetSlide(container);
          vm.procesaRespuesta();
        }
        else {
            console.log('no supero!');
            container.classList.add("reset");
            setTimeout(function() {
              container.classList.remove("reset");
              container.style.transform = '';
              container.style.transform = null;
            }, 300);

          }
        vm.startX = 0;
        vm.startY = 0;

      },
      onPan: function (ev) {
        let vm = this;

        switch (ev.type) {
          case "panend":
            vm.panend(ev);
            break;
          case "panstart":
            vm.panstart(ev);
            break;
          default:
            vm.pan(ev);
        }
      },
      pan: function (ev) {
        let vm = this;
        if (!vm.startX)
          vm.panstart(ev);

        console.log('Evento: '+ev.type);

        if ((ev.type == 'panleft') || (ev.type == 'panright')) {
          vm.posX = vm.last_posX + ev.deltaX;
          vm.posY = vm.last_posY + ev.deltaY;
          //console.log(vm.scale+' '+vm.last_posX+' '+vm.posX+' '+ev.deltaX)
          vm.transform =
                //"translate3d(" + vm.posX + "px," + vm.posY + "px, 0) " +
                "translateX("+ vm.posX +"px) "+
                "rotate("+vm.posX/10+"deg) "+
                "scale3d(" + vm.scale + ", " + vm.scale + ", 1)";
        }
        if (vm.transform) {
          //ev.target.style.webkitTransform = vm.transform;
          document.getElementById('imgcontainer').style.transform = vm.transform;
        }

      },
      siguientePregunta: function () {
        if (this.userAnswer[this.userAnswer.length - 1]) {
          this.swipeClass = 'slideRightOut';
        }
        else {
          this.swipeClass = 'slideLeftOut';
        }
        setTimeout(() => {
          this.actualQuestion++;
          this.$store.commit('game/nextQuestion');
        }, 250);
        setTimeout(() => {
          this.resultado = false;
          this.swipeClass = '';
          this.verificacion = false;
        }, 500);
      },
      tap: function () {
        let vm = this;
        vm.resultado = false;

        if (this.userAnswer[this.userAnswer.length - 1]) {
          this.swipeClass = 'slideLeftOut';
        } else {
          this.swipeClass = 'slideRightOut';
        }
        vm.siguientePregunta();

      },
    }
  }
</script>
<style scoped>

  .backFallo {
    transition: background-color 0.3s ease;
    background-color: #FF0071 !important;
  }

  .backExito {
    transition: background-color 0.3s ease;
    background-color: #00CCB9 !important;
  }

  .backDefault {
    transition: background-color 0.3s ease;
    background-color:  #6F2A83 !important;
  }

  .backgroundColor {
    background-color:  #6F2A83;
  }

  .burger {
    height: 40px !important;
    width: 50px !important;
    margin-top: 5px !important;
    margin-right: 0px !important;
    background-color: white !important;
    border-radius: 2px !important;
  }

  .burger-line {
    background-color: black !important;
    width: 16px !important;
  }

  .navbar-burger span {
    height: 1px !important;
    /*width: 60% !important;*/
  }

  .navbar-burger span:nth-child(3) {
    top: calc(50% + 5px) !important;
  }

  .navbar-burger span:nth-child(2) {
    top: calc(50% + 0px) !important;
  }

  .navbar-burger span:nth-child(1) {
    top: calc(50% - 5px) !important;
  }
</style>
<style scoped>

  .siguiente-img {
    opacity: 0;
  }
  .content figure {
    margin: 0;
  }

  .texto-explicacion {
    font-family: 'Brandon-Bold', cursive, sans-serif;
  }

  @media (max-height: 700px) {
    .texto-explicacion {
      font-size: small;
    }
  }

  @media (max-height: 500px) {
    .texto-explicacion {
      font-size: smaller;
    }
  }

  .cardcontainer {
    /*-webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;*/
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    width: 96%;
  }

  .columns {
    margin-top: -1rem;
  }

  .siguientefooter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    font-size: larger;
    font-family: 'Brandon-Bold', cursive, sans-serif;
  }

  .resultado {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Brandon-Bold', cursive, sans-serif;
    font-weight: normal;
    width: 75vw;
  }

  .siguientebtn {
    background-color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Brandon-Bold', cursive, sans-serif;
    font-weight: bold;
    border-style: outset;
    border-bottom-width: unset;
    font-size: x-large;
  }

  .nuevobtn {
    background-color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Brandon-Bold', cursive, sans-serif;
    font-weight: bold;
    border-style: outset;
    border-bottom-width: unset;
    font-size: x-large;
  }

  .nburger {
    box-sizing: border-box;
    color: rgb(74, 74, 74);
    cursor: pointer;
    font-family: Cubano-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 37px;
    line-height: 24px;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 5px;
    position: absolute;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    top: 5px;
    left: 10px;
    width: 37px;
    z-index: 2;
    display: none;
    -webkit-font-smoothing: antialiased;
  }

  @media (max-width: 450px) {
    .nburger {
      position: fixed;
      display: block;
    }
  }

  .circulito {
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    border-color: white;
    background-color: black;
    max-width: 200px;
    width: 100%;
    height: 100%;
    display: block;
  }

  .button-v {
    font-family: 'Brandon-Bold', cursive, sans-serif;
    color: #73BA61;
    white-space: nowrap;
    float: right;
    font-weight: bold;
    border-style: none;
    cursor: pointer;
    font-size: 2rem;
    background-color: black;
  }

  .button-f {
    font-family: 'Brandon-Bold', cursive, sans-serif;
    float: left;
    color: #CE3939;
    white-space: nowrap;
    font-weight: bold;
    border-style: none;
    cursor: pointer;
    font-size: 2rem;
    background-color: black;
  }

  .fake-footer {
    margin-left: 20px;
    margin-right: 20px;
    position: relative !important;
    margin-top: 2rem;
  }

  .fake-container {
    text-align: center;
    height: 53vh;
   /* width: 95%;*/
    /*width: 70%;*/
    margin: 2.5em auto;
    /*margin-top: 4em;*/
  }

  .fake-container-alt .card {
    border-radius: 15px;
    color: white;
    background-color: white;
    font-size: 1.3rem;
    line-height: 1.5rem;
    vertical-align: middle;
    display: inline-block;
    position: relative !important;
  }

  .fake-container .cardcontainer {
  background-color: white;
    /*width: 70%;*/
    height: 50vh;
    /*padding-left: 15px;
    padding-right: 15px;*/
    border-radius: 8px;
    position: absolute;
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5rem;
    vertical-align: middle;
    /*display: table;*/
  }

  .fake-container .cardcontainer:nth-child(1) {
    z-index: 100;
  }

  .fake-img {
    height: 50vh;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px;
    width: 100%;
  }

  @media (max-width: 450px) {
    #game {
      position: fixed;
      z-index: 2;
    }
  }

  .content {
    position: relative;
    /*padding: 1vh;*/
  }

  @media (min-width: 450px) {
    .content {
      height: 90vh;
      width: 90vw;
      max-width: 550px;
      min-height: 600px;
      /*padding: 20px 20px 20px 20px;*/
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 2em;
    }
  }

  .reacbutton {
    height: 110px;
    width: 110px;
  }

  @media (max-height: 525px) {
    .r-sm {
      display: flex;
    }
    .r-lg {
      display: none;
    }
  }

  @media (min-height: 525px) {
    .r-sm {
      display: none;
    }
    .r-lg {
      display: flex;
    }
  }

  .to-left {
    -webkit-transform: translateX(-30rem) rotate(-30deg) !important;
    transform: translateX(-30rem) rotate(-30deg) !important;
  }

  .to-right {
    -webkit-transform: translate(30rem) rotate(30deg) !important;
    transform: translate(30rem) rotate(30deg) !important;
  }

  .reset {
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
  }

</style>
