<template>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          Ups! Nombre de pais invalido
        </h1>
      </div>
    </div>
  </section>
</template>
