

@font-face {
  font-family: Cubano-Regular;
  src: url('~@/assets/fonts/Cubano-Regular.otf');
}

@font-face {
  font-family: Chivo;
  src: url('~@/assets/fonts/Chivo-Regular.ttf');
}

@font-face {
  font-family: Chivo-Italic;
  src: url('~@/assets/fonts/Chivo-Italic.ttf');
}

@font-face {
  font-family: Chivo-Regular;
  src: url('~@/assets/fonts/Chivo-Regular.ttf');
}

@font-face {
  font-family: Chivo-Bold;
  src: url('~@/assets/fonts/Chivo-Bold.ttf');
}

@font-face {
  font-family: Brandon-Bold;
  src: url('~@/assets/fonts/Brandon_bld.otf');
}

@font-face {
  font-family: Cubano-Regular-wf;
  src: url('~@/assets/fonts/cubano-regular-webfont.ttf');
}

.chivo {
  font-family: 'chivo';
}
/*
  Main style
  ----------
*/
body {
  color: white;
  font-family: Cubano-Regular;
  background-color: #4D134E;
}

.no-scroll {
  overflow-y: hidden;
}

.button {
  border: 0;
}

.media-content p {
  color: black;
}

strong {
  color: white;
  font-family: Chivo-Bold;
}

a {
  color: white;
}

a:hover,
a:active {
  color: white;
}

/*
  Titles
  ------
*/
.title {
  color: white;
 /* font-weight: normal !important;*/
}

.title.is-1 {
  font-size: 2.2rem;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .title.is-1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .title.is-1 {
    font-size: 4rem;
  }
}

.title strong.highlightColor {
  color: white;
}

/*
  Main colores
  ------------
*/
::selection {
  color: white;
  background-color: #FF2079;
}

.backgroundColor {
  background-color: #4D134E;
}

.backgroundColor2 {
  background-color: #4EE3F3;
}

.highlightColor {
  color: white;
  background-color: #FF2079;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/*
  Social links
  ------------
*/
.social-icon {
  margin-left: 0.5rem;
  color: white;
}

.twitter {
  background: #55acef;
}

.facebook {
  background: #3a5897;
}

.instagram {
  background:#F56040;
}

.gitlab {
  background-color: #e24329;
}

/*
  Lang buttons
  ------------
*/
.dropdown-menu {
  min-width: 60px;
  margin-top: -25px;
}

.dropdown-content {
  background-color: #FF2079;
  border-radius: 10px;
}

div.dropdown:nth-child(5) > div:nth-child(2) {
  margin-top: 1px;
}

a.dropdown-item:hover {
  background-color: transparent;
}

/*
  D3 button style
  ---------------
*/
.button-d3 {
  top: 0px;
  left: 0px;
  position: relative;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;

  background-color: #ED337D;
  box-shadow: -6px 6px 0px #B2235C;
}

.button-d3:hover {
  top: 3px;
  left: -3px;
  box-shadow: -3px 3px 0px #B2235C;
}

/*
  Cards animations
  ----------------
*/
@keyframes slideLeftOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(-200px) rotate(-30deg) translateY(30px);
  }
}

@keyframes slideRightOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(200px) rotate(30deg) translateY(30px);
  }
}

.slideLeftOut {
  animation-duration: 0.5s;
  animation-name: slideLeftOut;
}

.slideRightOut {
  animation-duration: 0.5s;
  animation-name: slideRightOut;
}

@keyframes slideTopIn {
  from {
    opacity: 0;
    transform: translateY(-200px);
    transform: rotate(160deg);
  }
  to {
    opacity: 1;
  }
}

.slideTopIn {
  animation-duration: 0.5s;
  animation-name: slideTopIn;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
}

.fadeOut {
  animation-duration: 0.5s;
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);

  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-duration: 0.5s;
  animation-name: fadeIn;
}
