<template>
  <div>
    <div id="fb-root"></div>
    <base-nav-bar></base-nav-bar>

    <nuxt></nuxt>

        <base-contact></base-contact>

      <section id="mochila" v-if="$route.params.country === 'Guatemala'">
        <div class="container has-text-centered">
          <div class="columns">

            <div class="column is-2">
              <img src="~/assets/mochila.png" />
            </div>

            <div class="column a">
              <p class="title is-3">
                Conoce más herramientas de tecnología cívica para estas elecciones
                <a href="http://mochilaelectoral.gt" target="_blank">www.mochilaelectoral.gt</a>
              </p>
            </div>

          </div>
        </div>
      </section>

        <base-developed></base-developed>

        <base-alliances></base-alliances>

        <base-footer></base-footer>

  </div>
</template>

<script>
import BaseNavBar from '~/components/BaseNavBar'
import BaseContact from '~/components/BaseContact'
import BaseDeveloped from '~/components/BaseDeveloped'
import BaseAlliances from '~/components/BaseAlliances'
import BaseFooter from '~/components/BaseFooter'

export default {
  components: {
    BaseNavBar,
    BaseContact,
    BaseDeveloped,
    BaseAlliances,
    BaseFooter
  }
}
</script>

<style scoped>
#mochila {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #FF2079;
}

#mochila .columns {
  display: table;
}

#mochila .column {
  display: table-cell;
}

#mochila .a {
  vertical-align: middle;
}

#mochila a {
  background: #4d134e;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
</style>
