<template>
  <div>

    <base-nav-bar></base-nav-bar>

    <nuxt></nuxt>


  </div>
</template>

<script>
import BaseNavBar from '~/components/BaseNavBar'


export default {
  components: {
    BaseNavBar,

  }
}
</script>

<style scoped>
#mochila {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #FF2079;
}

#mochila .columns {
  display: table;
}

#mochila .column {
  display: table-cell;
}

#mochila .a {
  vertical-align: middle;
}

#mochila a {
  background: #4d134e;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
</style>
