<template>
  <section class="hero is-fullheight">
    <!-- Hero content -->
    <div class="hero-body">
      <div class="container is-fluid">
        <div class="columns">

          <div class="column is-6 is-hidden-mobile">
            <figure class="image">
              <img class="big-logo" :src="'map-' + $i18n.locale + '.png'"
                alt='mapa con los paises donde se uso yo voto informado' />
            </figure>
          </div><!--/column -->

          <div class="column is-6">
            <h1 class="title is-1" v-html="$t('home.title')"></h1>
            <p class="title is-3">{{ $t("home.subtitle") }}</p>

            <!-- Countries -->
            <div class="flags">
              <nuxt-link class="" v-for="country in this.yqs.config" :key="country.id"
                :to="localePath({ name: 'country', params: { country: country.country_name } })">
                <img class="flag" :src="country.img" :alt="'Bandera de ' + country.country_name">
              </nuxt-link>
            </div><!--/level -->
          </div><!--/column -->

        </div><!--/columns -->
      </div><!--/container -->
    </div><!--/hero-body -->

  </section><!--hero -->
</template>

<script>
import YQS from '~/assets/common'

export default {
  name: 'Home',
  data () {
    return {
      yqs: new YQS()
    }
  },
  created () {
    this.yqs.init()
  }
}
</script>

<style scoped>
.title.is-1 {
  padding-top: 15%;
}

.level-item {
  margin-right: 30px !important;
}

.big-logo {
  max-height: calc(100vh - 20vh);
  width: auto;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.title.is-3 {
  padding-top: 50px;
}

.flags {
  text-align: center;
}

@media (min-width: 520px) {
  .flags {
    text-align: left;
  }
}

.flags a {
  padding-right: 30px;
}

.flag {
  height: 60px;
  border-radius: 50%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.flag:hover {
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
</style>
