<template>
  <section id="mediakit">
    <div class="container">
      <h1 class="title is-1 has-text-centered">{{ $t("mediakit") }}</h1>
      <h3 class="title is-3  has-text-centered">En Argentina</h3>
      <carousel :per-page="4" :autoplay="true" :autoplayHoverPause="true" :autoplayTimeout="3000" :loop="true">
        <slide v-for="medio in medios" :key="medio.name">
          <a :href="medio.src" target="_blank">
            <figure class="image has-text-centered">
              <h2 class="title is-5 has-text-centered">{{ medio.name }}</h2>
              <img :src="'/mediaKit/' + medio.img" />
            </figure>
          </a>
        </slide>
      </carousel>
      <h3 class="title is-3  has-text-centered">En Colombia</h3>
      <carousel :per-page="2" :autoplay="true" :autoplayHoverPause="true" :autoplayTimeout="3000" :loop="true">
        <slide v-for="medio in medios_colombia" :key="medio.name">
          <a :href="medio.src" target="_blank">
            <figure class="image has-text-centered">
              <h2 class="title is-5 has-text-centered">{{ medio.name }}</h2>
              <img :src="'/mediaKit/' + medio.img" />
            </figure>
          </a>
        </slide>
      </carousel>
      <h3 class="title is-3  has-text-centered">En Guatemala</h3>
      <carousel :per-page="2" :autoplay="true" :autoplayHoverPause="true" :autoplayTimeout="3000" :loop="true">
        <slide v-for="medio in medios_guatemala" :key="medio.name">
          <a :href="medio.src" target="_blank">
            <figure class="image has-text-centered">
              <h2 class="title is-5 has-text-centered">{{ medio.name }}</h2>
              <img :src="'/mediaKit/' + medio.img" />
            </figure>
          </a>
        </slide>
      </carousel>
    </div>
  </section>
</template>

<script>
export default {
  data () {
    return {
      medios: [
        /*{name: 'El Tiempo', img: 'media1.png', src: 'http://www.eltiempo.com/elecciones-colombia-2018/jurados-y-votantes/aplicacion-yo-voto-informado-para-enterarse-sobre-elecciones-2018-219128'},
        {name: 'Canal 1', img: 'media2.png', src: 'https://canal1.com.co/emision/primera-hora-22-mayo-2018/'},
        {name: 'RCN Radio', img: 'media3.png', src: 'https://www.rcnradio.com/tecnologia/crean-aplicacion-para-conocer-sus-afinidades-con-los-candidatos-presidenciales'},
        {name: 'En Colombia', img: 'media4.png', src: 'https://www.colombia.com/tecnologia/aplicaciones/yo-voto-informado-plataforma-web-de-todo-lo-que-debes-saber-en-las-elecciones-2018-191368'},
        */
        {'name': "Infobae", "img": "infobae-01.jpg", "src": "://www.infobae.com/politica/2019/08/08/paso-2019-elegi-las-mejores-propuestas-y-descubri-con-que-candidato-te-identificas/"},
        {'name': "La voz del interior", "img": "la voz-01.jpg", "src": "://www.lavoz.com.ar/politica/que-opinan-candidatos-presidenciales-sobre-temas-de-debate-en-agenda-publica"},
        {'name': "infotechnology (el cronista)", "img": "infotechnology-01.jpg", "src": "://www.infotechnology.com/online/El-voto-indeciso-define-la-eleccion-llego-una-aplicacion-que-te-dice-quien-es-tu-candidato-20190808-0008.html"},
        {'name': "américa", "img": "america-01.jpg", "src": "://www.instagram.com/americatv/?hl=es-la"},

       /* {'name': "noticias argentinas", "img": "https://drive.google.com/drive/u/5/folders/1tzsTYI1ZlC_8x6Pt5_9MkihA7ehorCIg    http://www.noticiasargentinas.com.ar/90952-yovotoinformado,-aplicacion-para-conocer-las-propuestas-todos-los-candidatos.html"},
       */
        {'name': "zona norte hoy", "img": "zn-01.jpg", "src": "https://www.zonanortehoy.com/sociedad/2019/8/9/tiempo-de-veda-callan-los-candidatos-hablan-los-ciudadanos-73544.html"},
        {'name': "el litoral", "img": "el litoral-01.jpg", "src": "https://www.ellitoral.com.ar/corrientes/2019-8-9-12-19-0-conoce-las-propuestas-de-los-pre-candidatos-a-la-presidencia"},
        {'name': "ElCanciller", "img": "elcanciller-01.jpg", "src": "https://elcanciller.com/nota/9691/juegos-online-mapeos-colectivos-peticiones-ciudadanas-y-plataformas-de-ongs-por-el-voto-informado"},
        {'name': "el dia", "img": "el-dia-01.jpg", "src": "https://docs.google.com/spreadsheets/d/17CQ1KmPGTu9BLo394OrRY5F9n9Tb0WWLC4_L-AiRx8Y/edit#gid=1241300718"},
        {'name': "impulso de negocios", "img": "impulso-01.jpg", "src": "https://www.impulsonegocios.com/yo-voto-informado-una-aplicacion-para-ir-a-votar/"},
        {'name': "la arena", "img": "la arena-01.jpg", "src": "http://www.laarena.com.ar/el_pais-la-aplicacion-que-permite-conocer-las-propuestas-de-todos-los-candidatos-2068171-113.html"},
        {'name': "i profesional", "img": "iprofesional-01.jpg", "src": "https://www.iprofesional.com/politica/297544-elecciones-voto-paso-Una-aplicacion-ayuda-a-los-indecisos-a-elegir-por-un-candidato"},
        {'name': "la capital (de Rosario)", "img": "la capital-01.jpg", "src": "https://www.lacapital.com.ar/politica/herramientas-digitales-las-ongs-fomentar-la-participacion-ciudadana-n2519263.html"},
        {'name': "tiempo sur", "img": "tiempo sur-01.jpg", "src": "https://www.tiemposur.com.ar/nota/178882-con-herramientas-digitales-las%C2%A0ong-buscan-fomentar-la-participacion-ciudadana%C2%A0"},
        {'name': "FM DELTA 90.3", "img": "tiempo 90.3-01.jpg", "src": ""},
      ],
      medios_colombia: [
        { 'name': 'colombia.com', 'img': 'colombia.com-01.jpg', 'src': 'https://drive.google.com/drive/u/5/folders/1MafKWX_VhmcF0tHtGrdG_z3eEE6RYwfJ	https://www.colombia.com/tecnologia/aplicaciones/yo-voto-informado-plataforma-web-de-todo-lo-que-debes-saber-en-las-elecciones-2018-191368' },
        { 'name': 'el tiempo', 'img': 'el tiempo-01.jpg', 'src': 'https://drive.google.com/drive/u/5/folders/1MafKWX_VhmcF0tHtGrdG_z3eEE6RYwfJ	https://www.eltiempo.com/elecciones-colombia-2018/jurados-y-votantes/aplicacion-yo-voto-informado-para-enterarse-sobre-elecciones-2018-219128' }
      ],
      medios_guatemala: [
        { 'name': 'LA HORA',	'img': 'LA HORA-01.jpg', 'src': 'https://drive.google.com/drive/u/5/folders/1RSWOqhAF_8v7nDS13VpeO9ZGf_TY-m32	https://canal1.com.co/emision/primera-hora-22-mayo-2018/'},
        { 'name': 'publinews',	'img': 'publinews-01.jpg','src': 'https://drive.google.com/drive/u/5/folders/1RSWOqhAF_8v7nDS13VpeO9ZGf_TY-m32	https://www.publinews.gt/gt/noticias/2019/05/21/lanzan-aplicacion-web-yo-voto-informado.html'}
      ]
    }
  }
}
</script>

<style scoped>
#mediakit {
  padding-top: 130px;
  padding-bottom: 100px;
}

#mediakit h1 {
  padding-bottom: 50px;
}

#alliances {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #4EE3F3;
}

img {
  border-radius: 25px;
  display: inline;
  width: 250px;
  /*padding-top: 50px;*/
}
</style>
