<template>
  <section id="metodologia">
    <div class="container">
      <h1 class="title is-1">{{ $t("methodology.title") }}</h1>

      <div class="columns">
        <div class="column is-6">
          <p>{{ $t("methodology.p1") }}</p>

          <p>{{ $t("methodology.p2") }}</p>

          <p>{{ $t("methodology.p3") }}</p>

          <p>{{ $t("methodology.p4") }}</p>

          <p>{{ $t("methodology.p5") }}</p>

          <p>{{ $t("methodology.p6") }}</p>
        </div>

        <div class="column is-4 is-offset-2 center">
          <img src="~/assets/mobile.png" alt="juego visto desde un celular" />
        </div>

      </div>
    </div>
  </section>
</template>

<style scoped>
#metodologia {
  padding-top: 130px;
  padding-bottom: 100px;
}

.title.is-1 {
  max-width: 90vw;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
  text-align: center;
}

@media (min-width: 576px) {
  .title.is-1 {
    max-width: 40vw;
  }
}

p {
  font-family: Chivo-Regular;
  font-size: 18px;
  margin-bottom: 50px;
}

.center {
  margin-top: auto;
  margin-bottom: auto;
}
</style>
