<template>

  <section class="hero is-fullheight">
    <!-- Hero content -->
    <div class="hero-body">
      <div class="container is-fluid" style="padding-top: 100px">
        <div id="app">
          <div class="upload-example">
            <div class="columns">
              <div class="column">
                <cropper
                  style="max-width: 640px; max-height: 640px"
                  stencil-component="circle-stencil"
                  ref="cropper"
                  class="upload-example-cropper"
                  :src="image.src"
                  @change="crop"
                  :stencil-props="{			aspectRatio: 1		}"
                  :auto-zoom="false"
                />
              </div>
              <div class="column">
                <a :href="imagencita" :download="'yvi_'+filename" ref="img123" v-show="filename !== '' && imagencita !== ''">
                  <div id="result" ></div>
                </a>
              </div>
            </div>
            <div class="button-wrapper">
              <button class="button" @click="$refs.file.click()">
                <input type="file" ref="file" @change="loadImage($event)" accept="image/*" style="display: none">
                Cargar Imagen
              </button>
            </div>
          </div>
        </div>
      </div><!--/container -->
    </div><!--/hero-body -->

  </section><!--hero -->

</template>

<script>
  import { Cropper, Preview } from 'vue-advanced-cropper'
  import 'vue-advanced-cropper/dist/style.css';
  // This function is used to detect the actual image type,
  function getMimeType(file, fallback = null) {
    const byteArray = (new Uint8Array(file)).subarray(0, 4);
    let header = '';
    for (let i = 0; i < byteArray.length; i++) {
      header += byteArray[i].toString(16);
    }
    switch (header) {
      case "89504e47":
        return "image/png";
      case "47494638":
        return "image/gif";
      case "ffd8ffe0":
      case "ffd8ffe1":
      case "ffd8ffe2":
      case "ffd8ffe3":
      case "ffd8ffe8":
        return "image/jpeg";
      default:
        return fallback;
    }
  }

export default {
    layout: 'nada',
  components: {
    Cropper,Preview
  },
  data() {
    return {
      image: {
        src: null,
        type: null
      },
      result: {
        coordinates: null,
        image: null
      },
      imagencita: '',
      filename: '',
      filetype: ''
    };
  },
  methods: {
    crop() {
      const { coordinates, image, visibleArea, canvas  } = this.$refs.cropper.getResult()
     // console.log(this.$refs.cropper,this.$refs.cropper.getResult() )
      let croppedCanvas = canvas;
      // Round
      let roundedCanvas = this.getRoundedCanvas(croppedCanvas);
      // Show
      let roundedImage = document.createElement('img');
      this.imagencita =roundedCanvas.toDataURL()
      roundedImage.src = roundedCanvas.toDataURL()
      var result = document.getElementById('result');
      result.innerHTML = '';
      result.appendChild(roundedImage);
     /* this.getRoundedCanvas(canvas).toBlob((blob) => {

      }, this.image.type);*/
    },
    download() {
      const newTab = window.open();
      newTab.document.body.innerHTML = `<img src="${this.imagencita}"></img>`;
    },
    reset() {
      this.image = {
        src: null,
        type: null
      }
    },
    loadImage(event) {
      // Reference to the DOM input element
      const { files } = event.target;
      console.log(files)
      // Ensure that you have a file before attempting to read it
      if (files && files[0]) {
        this.filename = files[0].name
        this.filetype = files[0].type
        // 1. Revoke the object URL, to allow the garbage collector to destroy the uploaded before file
        if (this.image.src) {
          URL.revokeObjectURL(this.image.src)
        }
        // 2. Create the blob link to the file to optimize performance:
        const blob = URL.createObjectURL(files[0]);

        // 3. The steps below are designated to determine a file mime type to use it during the
        // getting of a cropped image from the canvas. You can replace it them by the following string,
        // but the type will be derived from the extension and it can lead to an incorrect result:
        //
        // this.image = {
        //    src: blob;
        //    type: files[0].type
        // }

        // Create a new FileReader to read this image binary data
        const reader = new FileReader();
        // Define a callback function to run, when FileReader finishes its job
        reader.onload = (e) => {
          // Note: arrow function used here, so that "this.image" refers to the image of Vue component
          this.image = {
            // Set the image source (it will look like blob:http://example.com/2c5270a5-18b5-406e-a4fb-07427f5e7b94)
            src: blob,
            // Determine the image type to preserve it during the extracting the image from canvas:
            type: getMimeType(e.target.result, files[0].type),
          };
        };
        // Start the reader job - read file as a data url (base64 format)
        reader.readAsArrayBuffer(files[0]);
      }
    },
    onChange({ coordinates, image }) {
      this.result = {
        coordinates,
        image
      };
    },
    getRoundedCanvas(sourceCanvas) {
    var canvas = document.createElement('canvas');
    var context = canvas.getContext('2d');
//    var width = sourceCanvas.width;
//    var height = sourceCanvas.height;
      var width = 256;
      var height = 256;
    canvas.width = width;
    canvas.height = height;
    context.imageSmoothingEnabled = true;
    context.drawImage(sourceCanvas, 0, 0, width, height);
    context.globalCompositeOperation = 'destination-in';
    context.beginPath();
    context.arc(width / 2, height / 2, Math.min(width, height) / 2, 0, 2 * Math.PI, true);
    context.fill();
    return canvas;
  },
    percentsRestriction({ minWidth, minHeight, maxWidth, maxHeight, imageSize }) {
      return {
        maxWidth: (imageSize.width * (maxWidth || 100)) / 100,
        maxHeight: (imageSize.height * (maxHeight || 100)) / 100,
        minWidth: (imageSize.width * (minWidth || 0)) / 100,
        minHeight: (imageSize.height * (minHeight || 0)) / 100,
      };
    },
  },
  destroyed() {
    // Revoke the object URL, to allow the garbage collector to destroy the uploaded before file
    if (this.image.src) {
      URL.revokeObjectURL(this.image.src)
    }
  }
};
</script>

<style scoped>
.title.is-1 {
  padding-top: 15%;
}

.level-item {
  margin-right: 30px !important;
}

.big-logo {
  max-height: calc(100vh - 20vh);
  width: auto;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.title.is-3 {
  padding-top: 50px;
}

.flags {
  text-align: center;
}

@media (min-width: 520px) {
  .flags {
    text-align: left;
  }
}

.flags a {
  padding-right: 30px;
}

.flag {
  height: 60px;
  border-radius: 50%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.flag:hover {
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
</style>
