<template>
  <section id="nosotras">
    <div class="container">
      <h1 class="title is-4 has-text-centered">{{ $t("we.title") }}</h1>

      <div class="columns">
        <div class="column is-6 is-offset-3">
          <p >{{ $t("we.p1") }}</p>

          <p>{{ $t("we.p2") }}</p>

          <p>{{ $t("we.p3") }}</p>

          <p>{{ $t("we.p4") }}</p>
        </div><!--/column -->
      </div><!--/columns -->

      <div v-if="false" v-for="row in people" :key="row.id" class="columns">
        <div v-for="ele in row" :key="ele.id" class="column is-3">
          <img :src="ele.photo" />
          <p class="member-name has-text-centered">
            <strong>{{ ele.name }}</strong> <br />
            {{ ele.description }}
          </p>
        </div><!--/column -->
      </div><!--/column -->

    </div><!--/container -->
  </section>
</template>

<script>
export default{
  data () {
    return {
      people: [
        [
          { photo: '/members/Macarena_Quirno_Costa.png', name: 'Agustina Calcagno', description: 'Licenciada en Ciencias Políticas con experiencia OSC y el sector público' },
          { photo: '/members/Agustina_Calcagno.png', name: 'Macarena Quirno Costa', description: 'Estudiante de Ciencia Política. Conocimiento Abierto' },
          { photo: '/members/Fabiola_Bascunan.png', name: 'Fabiola Bascunan', description: 'Licenciada en Historia, especialista en Educación y Nuevas Tecnologías. ' },
          { photo: '/members/Yas_Garcia.png', name: 'Yas Garcia', description: 'Periodista. Conocimiento Abierto' }
        ],
        [
          { photo: '/members/Andres_Osorio.png', name: 'Andres Osorio', description: 'Licenciado en Ciencias Política de Colombia. NDI' },
          { photo: '/members/Franco_Bellomo.png', name: 'Franco Bellomo', description: 'Especialista en Datos. Conocimiento Abierto.' },
          { photo: '/members/Ali_Depsky.png', name: 'Ali Depsky', description: 'Diseñadora web especializada en UX. Conocimiento Abierto.' },
          { photo: '/members/David_Nuñez.png', name: 'David Nuñez', description: 'Licenciado en Ciencia Política en Colombia. Seamos' }
        ],
        [
          { photo: '/members/Andrea_Fernández.png', name: 'Andrea Fernández', description: 'Licenciada en Ciencia Política de Colombia. NDI ' },
          { photo: '/members/Ilse_Cardenas.png', name: 'Ilse Cardenas', description: 'Comunicadora social y productora periodistica. Colombia Roque_Benedictis.png' },
          { photo: '/members/Roque_Benedictis.png', name: 'Roque De Benedictis', description: 'Estudiante de Ciencia Politica. Conocimiento Abierto' },
          { photo: '/members/Mauricio_Jaramillo.png', name: 'Mauricio Jaramillo', description: 'Periodista. Impacto TIC' }
        ]
      ]
    }
  }
}
</script>

<style scoped>
#nosotras {
  padding-top: 120px;
  padding-bottom: 50px;
}

p {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Chivo-Regular;
}

p strong {
  font-family: Cubano-Regular;
  color: white;
}
/*
.column p:nth-child(1) {
  font-family: Cubano-Regular;
}
*/
img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
}
</style>
