<template>
  <div>
    <page-loading v-if="pageLoading"></page-loading>
    <page-not-found v-if="pageNotFound"></page-not-found>

    <section v-else-if="pageReady">
    <section id="propuestas">
      <div class="container" v-if="propuesta">
        <h2 class="title is-1 has-text-centered" style="padding-bottom: 10vh">{{propuesta.Nombre}}</h2>
        <div class="">
          <table class="table is-bordered is-narrow is-hoverable">
            <tbody>
              <tr>
                <td style="width: 20vw" class="pdesc">Que Queremos Lograr</td>
                <td style="width: 60vw" class="ptext">{{propuesta.Que}}</td>
              </tr>
              <tr>
                <td style="width: 20vw" class="pdesc">Porque Queremos Hacerlo</td>
                <td style="width: 60vw" class="ptext">{{ propuesta.porque }}</td>
              </tr>
              <tr>
                <td style="width: 20vw" class="pdesc">Como Podemos Hacerlo</td>
                <td style="width: 60vw" class="ptext">{{propuesta.como}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
      <div class="has-text-centered" style="display: block; max-width: 100%;padding-top: 5vh;padding-bottom: 5vh; ">
        <nuxt-link class="button is-danger" style="padding: auto" :to="urlpropuestas">Volver</nuxt-link>
      </div>
    </section>
  </div>
</template>

<script>
import YQS from '~/assets/common'

import PageLoading from '~/components/PageLoading'
import PageNotFound from '~/components/PageNotFound'

export default {
  data () {
    return {
      yqs: new YQS(),
      candidate: null,
      vicecandidate: null,
      similar: [],
      fakes_all: false,
      // Page state
      pageLoading: true,
      pageReady: false,
      pageNotFound: false
    }
  },
  components: {
    PageLoading,
    PageNotFound
  },
  computed: {
    urlpropuestas: function () {
      if (this.$store.state.main)
        return '/'+this.$store.state.main.country.country_name+'/'+this.$store.state.main.election.name+'/Propuestas';
    },
    propuesta: function() {
      return this.$store.state.main.propuestas[this.$route.params.propuesta]
    }
  },
  created () {
    this.create(this.$store);
  },
  beforeRouteUpdate (to, from, next) {
    this.create()
  },
  methods: {
    create: function () {
      let vm = this;
      if (!vm.propuestas) {
        this.yqs.init(this.$store)
            .then(() => {
              this.yqs.getPropuestasByCountry(this.$route.params.country, this.$route.params.election)
                  .then(() => {
                    this.pageLoading = false;
                    this.pageReady = true;
                    this.pageNotFound = false;
                  })
                  .catch((gg) => {
                    console.log(gg);
                    this.pageLoading = false;
                    this.pageReady = false;
                    this.pageNotFound = true;
                  })
            })
      }
    }
  }
}
</script>

<style scoped>
  #propuestas {
    padding-top: 130px;
    padding-bottom: 100px;
  }

  #propuestas h1 {
    padding-bottom: 50px;
  }

.long-text {
  padding-top: 20px;
  font-family: Chivo-Regular;
  white-space: pre-wrap;
}

  table tbody tr:first-child > td.pdesc{
    border-top-color: white;
  }

  table tbody tr:last-child > td.pdesc{
    border-bottom-color: white;
  }
.pdesc {
  border-width: thick !important;
  border-color: #4d134e;
  background-color: white;
  color: #4d134e;
}
.ptext {
  border-width: thick !important;;
  border-color: white;
  color: white;
  background-color: #4d134e;
}
</style>
